<h1>ENTRYPOINTNAME ( <em>ARGUMENT</em>, <em>ARGUMENT</em>, ... )</h1>
<div class="w3-container">
	[[DESCRIPTION]]
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Valid on Elements</h3>
</div>
<div class="w3-container">
	<span class="w3-tag w3-teal w3-xlarge">WORLD</span>
	<span class="w3-tag w3-teal w3-xlarge">PLAYER</span>
	<span class="w3-tag w3-teal w3-xlarge">ROOM</span>
	<span class="w3-tag w3-teal w3-xlarge">OBJECT</span>
	<span class="w3-tag w3-teal w3-xlarge">CONTAINER</span>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<em>No Parameters</em>
	or
	<table class="w3-table w3-striped" >
		<tr>
			<td class="tamedox-parameter">ARG</td>
			<td class="tamedox-parameter-type">WHAT IT IS</td>
			<td class="tamedox-parameter-description">What its purpose is.</td>
		</tr>
	</table>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>When it is Called</h3>
</div>
<div class="w3-container">
	<p>
		[[WHEN IT'S CALLED]]
	</p>
</div>

<!-- OPTIONAL SECTION -->
<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "NoOp Example" noop commands/noop-example.tame ]-->
</div>

<!-- OPTIONAL SECTION -->
<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="#">COMMANDNAME OR ENTRYPOINT</a> &mdash; [[HOW THIS IS RELATED]]<br/>
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Technical Junk</h3>
</div>
<div class="w3-container">
	<p>
		[[TECHNOWEENIE HORSESHIT]]
	</p>
</div>
