<h1 class="tamedocs-function-title">
	<span class="name">PlayerIsInRoom (</span> 
	<span class="param">PLAYER</span>,
	<span class="param">ROOM</span>
	)
</h1>
<div class="w3-container">
	Checks if a specific player contains a specific room in its room stack.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">PLAYER</td>
					<td class="tamedocs-parameter-type">PLAYER</td>
					<td class="tamedocs-parameter-description">The player to inspect.</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">ROOM</td>
					<td class="tamedocs-parameter-type">ROOM</td>
					<td class="tamedocs-parameter-description">The room to look for.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(BOOLEAN)</td>
				<td class="tamedocs-parameter-description">
					<strong>TRUE</strong> if the provided player contains the provided room in its stack, or <strong>FALSE</strong> if not.
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function checks if a specific player has a specific room in its room stack, returning <strong>TRUE</strong> 
		if so, or <strong>FALSE</strong> if the room is not one of the rooms in the stack.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
	<p>
		Since rooms are a "state" structure, you can use them for non-room things like conversations:
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Conversation Example" module_convo_example functions/convo-example.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="function-setroom.html">SetRoom()</a> &mdash; Sets the current room on a player, after clearing its room stack.<br/>
		<a href="function-pushroom.html">PushRoom()</a> &mdash; Adds a room onto a player's room stack, preserving the previous rooms on the stack.<br/>
		<a href="function-poproom.html">PopRoom()</a> &mdash; Removes the topmost room from a player's room stack.<br/>
		<a href="function-swaproom.html">SwapRoom()</a> &mdash; Changes the topmost room on a player's room stack, preserving the rest of the stack.<br/>
		<a href="function-currentroomis.html">CurrentRoomIs()</a> &mdash; Checks the topmost room on a player's room stack against another room.<br/>
		<a href="function-nocurrentroom.html">NoCurrentRoom()</a> &mdash; Checks if a player is not in any room.<br/>
	</p>
</div>
