<h1 class="tamedocs-function-title">
	<span class="name">ListRemoveAt (</span> 
	<span class="param">LIST</span>, 
	<span class="param">INDEX</span>
	)
</h1>
<div class="w3-container">
	Removes an item from a list at a specific index.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">LIST</td>
					<td class="tamedocs-parameter-type">VALUE(LIST)</td>
					<td class="tamedocs-parameter-description">The list to append to.</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">INDEX</td>
					<td class="tamedocs-parameter-type">VALUE(INTEGER)</td>
					<td class="tamedocs-parameter-description">The 0-based index into the list.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns (one of the following)</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE</td>
				<td class="tamedocs-parameter-description">The value that was removed.</td>
			</tr>
			<tr>
				<td class="tamedocs-parameter">VALUE(BOOLEAN)</td>
				<td class="tamedocs-parameter-description"><strong>FALSE</strong> if nothing was removed.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function removes the value at the provided index from a list, and returns the value removed. If the provided list is not
		a list or the index is less than 0 or greater than the list's <a href="function-length.html">length</a>, nothing changes and 
		this returns <strong>FALSE</strong>. The index is always <a href="function-asint.html">converted to an integer</a>, if it is not
		an integer. 
	</p>
	<p>
		A successful remove decreases the list's size by 1.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "List Functions Example" module_function_list_example functions/list-example.tscript ]-->
</div>
