<h1 class="tamedocs-function-title">
	<span class="name">StrStartsWith (</span> 
	<span class="param">STRING</span>, 
	<span class="param">SUBSTRING</span> 
	)
</h1>
<div class="w3-container">
	Checks if a string starts with another string.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">STRING</td>
					<td class="tamedocs-parameter-type">VALUE(STRING)</td>
					<td class="tamedocs-parameter-description">The string to search in.</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">SUBSTRING</td>
					<td class="tamedocs-parameter-type">VALUE(STRING)</td>
					<td class="tamedocs-parameter-description">The substring to test for.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(BOOLEAN)</td>
				<td class="tamedocs-parameter-description"><strong>TRUE</strong> if the first string starts with the second string, <strong>FALSE</strong> otherwise.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function returns <strong>TRUE</strong> if the first string starts with the second string, or <strong>FALSE</strong> if not.
		Both provided values are <a href="function-asstring.html">interpreted as strings</a> before the check. The check is 
		<strong>case-sensitive</strong>.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = strStartsWith("applesauce", "apple");   // a = true
	a = strStartsWith("banana", "ba");          // a = true
	a = strStartsWith("tomato", "to");          // a = true
	a = strStartsWith("applesauce", "sauce");   // a = false
	a = strStartsWith(12345, 1);                // a = true  (converted to strings)
	a = strStartsWith(12345, 5);                // a = false (converted to strings)
	a = strStartsWith("ABCDEFG", "a");          // a = false (case-sensitive)
</code></pre>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "String Searching Examples" module_function_strsearch_example functions/strsearch-example.tscript ]-->
</div>
