<h1 class="tamedocs-function-title">
	<span class="name">Identity (</span> 
	<span class="param">ELEMENT</span> 
	)
</h1>
<div class="w3-container">
	Returns the identity of an element.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">ELEMENT</td>
					<td class="tamedocs-parameter-type">Any declared element or reference to an element.</td>
					<td class="tamedocs-parameter-description">The element to fetch the identity of.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(STRING)</td>
				<td class="tamedocs-parameter-description">The identity of the provided element or element reference as a string.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function returns the name used to identify the provided element in TAMEScript (and the rest of the internals of 
		TAME).
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Identity Example" module_function_identity_example functions/identity-example.tscript ]-->
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Technical Junk</h3>
</div>
<div class="w3-container">
	<p>
		This has limited use in scripts. Most of the time, players/users will not care about the data this returns.
	</p>
</div>
