<h1 class="tamedocs-function-title">
	<span class="name">RegexReplace (</span> 
	<span class="param">REGEX</span>, 
	<span class="param">REPLACEMENT</span>,
	<span class="param">STRING</span>
	)
</h1>
<div class="w3-container">
	Replaces the occurrence of every match of a RegEx pattern with a replacement string, and returns the result.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">REGEX</td>
					<td class="tamedocs-parameter-type">VALUE(STRING)</td>
					<td class="tamedocs-parameter-description">The RegEx pattern to use.</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">REPLACEMENT</td>
					<td class="tamedocs-parameter-type">VALUE(STRING)</td>
					<td class="tamedocs-parameter-description">The replacement string.</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">STRING</td>
					<td class="tamedocs-parameter-type">VALUE(STRING)</td>
					<td class="tamedocs-parameter-description">The string to split.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(STRING)</td>
				<td class="tamedocs-parameter-description">The resultant string after replacement.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function finds each RegEx match and replaces each match with the provided replacement string.
		All parameters are <a href="function-asstring.html">interpreted as strings</a> before replacement.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "RegEx Function Example" module_function_regex_example functions/regex-example.tscript ]-->
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Additional Technical Notes</h3>
</div>
<div class="w3-container">
	<!--[ include fragments/techjunk-regex.html ]-->
</div>
