<h1 class="tamedocs-function-title">
	<span class="name">MoveObjectsWithTag (</span> 
	<span class="param">SOURCE</span>, 
	<span class="param">DESTINATION</span>, 
	<span class="param">TAG</span>
	)
</h1>
<div class="w3-container">
	Moves a set of objects owned by one object container that matches a tag to another container.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">SOURCE</td>
					<td class="tamedocs-parameter-type">OBJECT-CONTAINER</td>
					<td class="tamedocs-parameter-description">The element to take objects from.</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">DESTINATION</td>
					<td class="tamedocs-parameter-type">OBJECT-CONTAINER</td>
					<td class="tamedocs-parameter-description">The element to give objects to.</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">TAG</td>
					<td class="tamedocs-parameter-type">VALUE(STRING)</td>
					<td class="tamedocs-parameter-description">The tag to match.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<p>
		<em>Returns nothing. Cannot be used in expressions.</em>
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function takes a set of objects with a specific tag belonging to the source object container and moves them to the
		destination object container.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Object Ownership Example" module_function_objectowner_example functions/example-objectownership.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="function-giveobject.html">GiveObject()</a> &mdash; Gives an object to another object container.<br/>
		<a href="function-removeobject.html">RemoveObject()</a> &mdash; Removes an object from its current owner.<br/>
		<a href="function-objecthasnoowner.html">ObjectHasNoOwner()</a> &mdash; Checks if an object has no owner.<br/>
		<a href="function-objectcount.html">ObjectCount()</a> &mdash; Returns the amount of objects an element owns.<br/>
		<a href="function-hasobject.html">HasObject()</a> &mdash; Checks if an element owns an object.<br/>
	</p>
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Additional Technical Notes</h3>
</div>
<div class="w3-container">
	<p>
		The order in which the objects are moved depend on the order in which they were added to the source object container.
	</p>
</div>
