<h1 class="tamedocs-function-title">
	<span class="name">ElementHasAncestor (</span> 
	<span class="param">ELEMENT</span>, 
	<span class="param">PARENT</span>
	)
</h1>
<div class="w3-container">
	This function checks if an element has another element as an ancestor.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">ELEMENT</td>
					<td class="tamedocs-parameter-type">ELEMENT</td>
					<td class="tamedocs-parameter-description">Any element (archetype or non-archetype).</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">PARENT</td>
					<td class="tamedocs-parameter-type">ELEMENT</td>
					<td class="tamedocs-parameter-description">Any element to check the possible parentage of (archetype or non-archetype).</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(BOOLEAN)</td>
				<td class="tamedocs-parameter-description">
					<strong>TRUE</strong> if the first element is an ancestor of the second element, or <strong>FALSE</strong> otherwise.
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function tests if an element has the other provided element as an ancestor (the first element is a descendant). This
		returns <strong>TRUE</strong> if the first element is an ancestor of the second element, or <strong>FALSE</strong> otherwise.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Element Has Ancestor Example" module_function_ancestor_example functions/elementhasancestor-example.tscript ]-->
</div>
