<h1 class="tamedocs-function-title">
	<span class="name">Time (</span> 
	)
</h1>
<div class="w3-container">
	Returns the system time in milliseconds since the UNIX Epoch.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<p>
		<em>No Parameters</em>
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(INTEGER)</td>
				<td class="tamedocs-parameter-description">The current system time.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function returns the current system time as milliseconds since the <em>UNIX Epoch,</em> which is 
		<strong>January 1, 1970 12:00:00.000 AM GMT+00:00</strong>.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Time Example" module_function_time_example functions/time-example.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="function-timeformat.html">TimeFormat()</a> &mdash; Converts the time to a human-readable string.<br/>
	</p>
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Additional Technical Notes</h3>
</div>
<div class="w3-container">
	<p>
		The number returned is technically the UTC version of your current system time, which is unaffected by the
		user's locale.
	</p>
</div>
