<h1 class="tamedocs-function-title">
	<span class="name">SwapRoom (</span> 
	<span class="param">PLAYER</span>, 
	<span class="param">NEWROOM</span>
	)
</h1>
<div class="w3-container">
	Changes the current room on the provided player by removing the topmost room on the top of the 
	player's room stack and adding the provided one.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">PLAYER</td>
					<td class="tamedocs-parameter-type">PLAYER</td>
					<td class="tamedocs-parameter-description">The player whose room stack will change.</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">NEWROOM</td>
					<td class="tamedocs-parameter-type">ROOM</td>
					<td class="tamedocs-parameter-description">The room to change to.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<p>
		<em>Returns nothing. Cannot be used in expressions.</em>
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function sets the topmost room in a specific player's room stack to the provided 
		room by "popping" the current room off the top of the stack (like <a href="function-poproom.html">PopRoom()</a>), 
		and then "pushing" the provided room onto the top of it (like <a href="function-pushroom.html">PushRoom()</a>), 
		thus making it "current" for that player. From the moment that this function is executed, all functions and 
		operations that use the current room (provided that its associated player is also current) will use the one provided
		until another call to <strong>SwapRoom</strong> (or the other room-changing functions) changes it again.
	</p>
	<p>
		Calling <strong>SwapRoom()</strong> with the specified player when it has only one room in its room room-stack
		will have the same effect as though <a href="function-setroom.html">SetRoom()</a> were called.
	</p>
	<p>
		If <strong>SwapRoom()</strong> is called when a player has no current room, a room stack underflow will occur 
		(due to a "pop" operation being called) and a <kbd>FATAL</kbd> error (and cue) will be thrown.
	</p>
	<!--[ include fragments/room-stack.html ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="function-setroom.html">SetRoom()</a> &mdash; Sets the current room on a player, after clearing its room stack.<br/>
		<a href="function-pushroom.html">PushRoom()</a> &mdash; Adds a room onto a player's room stack, preserving the previous rooms on the stack.<br/>
		<a href="function-poproom.html">PopRoom()</a> &mdash; Removes the topmost room from a player's room stack.<br/>
		<a href="function-playerhasroominstack.html">PlayerHasRoomInStack()</a> &mdash; Checks if a room is in a player's room stack.<br/>
		<a href="function-currentroomis.html">CurrentRoomIs()</a> &mdash; Checks the topmost room on a player's room stack against another room.<br/>
		<a href="function-nocurrentroom.html">NoCurrentRoom()</a> &mdash; Checks if a player is not in any room.<br/>
	</p>
</div>
