<h1 class="tamedocs-function-title">
	<span class="name">StrChar (</span> 
	<span class="param">STRING</span>,
	<span class="param">INDEX</span>
	)
</h1>
<div class="w3-container">
	Returns the character at a specific index in a string.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">STRING</td>
					<td class="tamedocs-parameter-type">VALUE(STRING)</td>
					<td class="tamedocs-parameter-description">The input string.</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">INDEX</td>
					<td class="tamedocs-parameter-type">VALUE(INTEGER)</td>
					<td class="tamedocs-parameter-description">The 0-based index into the string.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(STRING)</td>
				<td class="tamedocs-parameter-description">A new string containing the character at the provided index.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This returns a string containing a single character: the character found at a specific index in a string. If the index
		is less than 0 or greater than or equal to the length of the provided string, then an empty string is returned. The
		string parameter is always <a href="function-asstring.html">converted to a string</a>, and the index is always 
		<a href="function-asint.html">converted to/parsed as an integer</a>.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = StrChar("apple", 2);     // a = "p"
	a = StrChar("apple", 4);     // a = "e"
	a = StrChar("apple", -1);    // a = ""
	a = StrChar("apple", -10);   // a = ""
</code></pre>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "String Manipulation Examples" module_function_strmanip_example functions/strmanipulation-example.tscript ]-->
</div>
