<h1 class="tamedocs-function-title">
	<span class="name">AddCue (</span> 
	<span class="param">CUE</span>, 
	<span class="param">CONTENT</span>
	)
</h1>
<div class="w3-container">
	Adds a cue of a specific type to the TAME Response.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">CUE</td>
					<td class="tamedocs-parameter-type">VALUE(STRING)</td>
					<td class="tamedocs-parameter-description">
						The cue type.
					</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">CONTENT</td>
					<td class="tamedocs-parameter-type">VALUE(STRING)</td>
					<td class="tamedocs-parameter-description">
						The cue content. 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<p>
		<em>Returns nothing. Cannot be used in expressions.</em>
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		<strong>AddCue</strong> appends a <strong>Cue</strong> with an arbitrary type and content to TAME's Response.
		There are a set number of Cue types that are understood by all <a href="engine.html#response">TAME Shells</a> - 
		this is for sending arbitrary types for other specialized shells that can understand them. 
	</p>
	<p>
		TAME Shells that do not understand a Cue type will ignore processing that Cue. 
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
	<p>
		<strong>NOTE:</strong> This page has special handling for the "uppercase" cue. 
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "AddCue Example" module_function_addcue_example functions/addcue-example.tscript ]-->
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Additional Technical Notes</h3>
</div>
<div class="w3-container">
	<p>
		Cues are processed by a Shell in the order that they have been added. Cues are not hierarchical.
	</p>
	<p>
		The cue type is a string, but cues are expected to be handled whether or not they are sent in a specific
		character case ("text" and "TEXT" are the same type).
	</p>
	<p>
		This does not prevent the author from sending other accepted cues like <kbd>ERROR</kbd>, <kbd>FATAL</kbd>,
		and <kbd>QUIT</kbd> that may have special behavior in all Shells.
	</p>
	<p>
		There is currently no limit to how many cues can be added to a response, but you, the author, should
		use discretion in this regard, since different TAME implementations and systems can have different 
		conceivable limits.
	</p>
</div>
<script type="text/javascript">
/* See js/tamedocs-tame.js */
var _OnOtherCue = function (cueType, cueContent) 
{
	switch (cueType)
	{
		case 'uppercase':
			tamePrintln(cueContent.toUpperCase());
			break;
	}
	return true;
}
</script>
