<h1 class="tamedocs-function-title">
	<span class="name">NoOp (</span> 
	)
</h1>
<div class="w3-container">
	"No operation." Does nothing.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<p>
		<em>No Parameters</em>
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<p>
		<em>Returns nothing. Cannot be used in expressions.</em>
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This does absolutely nothing. Changes nothing on the context, reads nothing from the context. Truely and honestly does nothing important.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "NoOp Example" module_function_noop_example functions/noop-example.tscript ]-->
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Technical Junk</h3>
</div>
<div class="w3-container">
	<p>
		Well, <em>technically</em>, it still counts as an operation executed. If you called <span class="tamedocs-command-type">NoOp</span> 
		enough times, eventually you will hit the operation limit for detecting "runaway" requests or endless loops.
	</p>
	<p>
		So, it isn't exactly footprint-less. Calling it DOES something, but nothing that affects anything very important.
	</p>
</div>
