<h1 class="tamedocs-function-title">
	<span class="name">StrUpper (</span> 
	<span class="param">STRING</span> 
	)
</h1>
<div class="w3-container">
	Returns a new string with all of the case-having characters converted to upper-case.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">STRING</td>
					<td class="tamedocs-parameter-type">A string value.</td>
					<td class="tamedocs-parameter-description">The input string.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(STRING)</td>
				<td class="tamedocs-parameter-description">A new string with all of the case-having characters converted to lower-case.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This returns the resulting string where all of the applicable characters in it are converted to upper-case. Characters without a
		typographical case are not changed.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = StrUpper("Maximillian");       // a = "MAXIMILLIAN"
	a = StrUpper("this is shouting!"); // a = "THIS IS SHOUTING!"
	a = StrUpper("HELLO");             // a = "HELLO"
</code></pre>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "String Manipulation Examples" module_function_strmanip_example functions/strmanipulation-example.tscript ]-->
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Additional Technical Notes</h3>
</div>
<div class="w3-container">
<!--[ include fragments/techjunk-localecase.html ]-->
</div>
