<h1>QueueAction ( <em>ACTION</em> )</h1>
<div class="w3-container">
	Enqueues a general action command to execute.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<table class="w3-table w3-striped" >
		<tr>
			<td class="tamedocs-parameter">ACTION</td>
			<td class="tamedocs-parameter-type">A GENERAL action.</td>
			<td class="tamedocs-parameter-description">The general action to encapsulate into a command and enqueue as the next command.</td>
		</tr>
	</table>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<em>Returns nothing. Cannot be used in expressions.</em>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function takes a <strong>general</strong> action and creates a command to execute after the current command completes. This does not break
		execution nor interrupt it.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "QueueAction Example" module_queueaction_example functions/queueaction-example.tscript ]-->
<!--[ tamescript "QueueAction Context Example" module_queueaction_context_example functions/queueaction-context-example.tscript ]-->
</div>

<!-- OPTIONAL SECTION -->
<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="function-queueactionstring.html">QueueActionString</a> &mdash; Enqueues an open or modal action.<br/>
		<a href="function-queueactionobject.html">QueueActionObject</a> &mdash; Enqueues a transitive action.<br/>
		<a href="function-queueactionobject2.html">QueueActionObject2</a> &mdash; Enqueues a ditransitive action.<br/>
		<a href="function-queueactionforobjectsin.html">QueueActionForObjectsIn</a> &mdash; Enqueues transitive actions for a set of objects.<br/>
		<a href="function-queueactionfortaggedobjectsin.html">QueueActionForTaggedObjectsIn</a> &mdash; Enqueues transitive actions for a set of objects with a tag.<br/>
	</p>
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Technical Junk</h3>
</div>
<div class="w3-container">
	<!--[ include fragments/techjunk-lifecycle.html ]-->
	<!--[ include fragments/techjunk-command-flow.html ]-->
</div>
