<h1 class="tamedocs-function-title">
	<span class="name">COMMANDNAME (</span> 
	<span class="param">ARGUMENT</span>, 
	<span class="param">ARGUMENT</span>, 
	<span class="param">...</span> 
	)
</h1>
<div class="w3-container">
	[[DESCRIPTION]]
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<em>No Parameters</em>
	or
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">ARG</td>
					<td class="tamedocs-parameter-type">WHAT IT IS</td>
					<td class="tamedocs-parameter-description">What its purpose is.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns (one of the following)</h3>
</div>
<div class="w3-container">
	<em>Returns nothing. Cannot be used in expressions.</em>
	or
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE TYPE</td>
				<td class="tamedocs-parameter-description">What the result's value is.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		[[WHAT THIS DOES]]
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Function Example" module_function_example functions/function-example.tscript ]-->
</div>

<!-- OPTIONAL SECTION -->
<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="#">COMMANDNAME OR ENTRYPOINT</a> &mdash; [[HOW THIS IS RELATED]]<br/>
	</p>
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Technical Junk</h3>
</div>
<div class="w3-container">
	<p>
		[[TECHNOWEENIE HORSESHIT]]
	</p>
</div>
