<h1 class="tamedocs-function-title">
	<span class="name">CurrentPlayerIs (</span> 
	<span class="param">PLAYER</span>
	)
</h1>
<div class="w3-container">
	Checks if the current player is the provided player.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">PLAYER</td>
					<td class="tamedocs-parameter-type">PLAYER</td>
					<td class="tamedocs-parameter-description">The non-archetype player element to test against.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(BOOLEAN)</td>
				<td class="tamedocs-parameter-description"><strong>TRUE</strong> if the current player matches, <strong>FALSE</strong> otherwise.</td>
			</tr>
		</table>
	</div>
</div>
	
<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function tests if the current player is set to the provided player element. If the current player
		matches the provided player element, this returns <strong>TRUE</strong>. If it does not match, or no
		current player is set, this returns <strong>FALSE</strong>.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Player Example" module_player_function_example functions/player-example.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="function-setplayer.html">SetPlayer()</a> &mdash; Sets the current player.<br/>
		<a href="function-nocurrentplayer.html">NoCurrentPlayer()</a> &mdash; Tests if no current player has been set.<br/>
	</p>
</div>
