<h1 class="tamedocs-function-title">
	<span class="name">GiveObject (</span> 
	<span class="param">OBJECTCONTAINER</span>, 
	<span class="param">OBJECT</span>
	)
</h1>
<div class="w3-container">
	Adds an object to an object container element.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">OBJECTCONTAINER</td>
					<td class="tamedocs-parameter-type">OBJECT-CONTAINER</td>
					<td class="tamedocs-parameter-description">The element to add the object to.</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">OBJECT</td>
					<td class="tamedocs-parameter-type">OBJECT</td>
					<td class="tamedocs-parameter-description">The object to add to the element.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<p>
		<em>Returns nothing. Cannot be used in expressions.</em>
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function adds a specific object to an object container element, such that its ownership changes to the
		new object container. Since an object cannot have more than one owner, this will remove the object 
		from its current owner, if it has one.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Object Ownership Example" module_function_objectowner_example functions/objectownership-example.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="function-removeobject.html">RemoveObject()</a> &mdash; Removes an object from its current owner.<br/>
		<a href="function-objecthasnoowner.html">ObjectHasNoOwner()</a> &mdash; Checks if an object has no owner.<br/>
		<a href="function-moveobjectswithtag.html">MoveObjectsWithTag()</a> &mdash; Moves a set of objects to another object container.<br/>
		<a href="function-objectcount.html">ObjectCount()</a> &mdash; Returns the amount of objects an element owns.<br/>
		<a href="function-hasobject.html">HasObject()</a> &mdash; Checks if an element owns an object.<br/>
	</p>
</div>
