<h1 class="tamedocs-function-title">
	<span class="name">Textln (</span> 
	<span class="param">MESSAGE</span> 
	)
</h1>
<div class="w3-container">
	Adds a <kbd>TEXT</kbd> cue to the response, which contains text to output, with a newline appended to end of the message.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">MESSAGE</td>
					<td class="tamedocs-parameter-type">VALUE(STRING)</td>
					<td class="tamedocs-parameter-description">The message to output (plus a newline).</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<p>
		<em>Returns nothing. Cannot be used in expressions.</em>
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		Prints a message to the screen with a newline appended to it.
	</p>
	<p>
		<em>Specifically</em>, this adds a <kbd>TEXT</kbd> cue to the response with the provided message as the content, 
		plus a newline added to the end of the message. Processing a <kbd>TEXT</kbd> and <kbd>TEXTF</kbd> cue is meant 
		to print something to the screen in all TAME Shells. The input parameter is transformed to a string, no matter 
		what value type it originally is.
	</p>
	<p>
		This is a convenience function, and is functionally equivalent to:
	</p>
<pre class="tame-example"><code data-language="tamescript">
	addCue("text", message + "\n");
</code></pre>
	<!--[ include fragments/text-notes.html ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Textln Example" module_function_textln_example functions/textln-example.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="function-addcue.html">AddCue()</a> &mdash; Adds cues to the Response.<br/>
	</p>
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Additional Technical Notes</h3>
</div>
<div class="w3-container">
<!--[ include fragments/techjunk-text.html ]-->
</div>
