<h1 class="tamedocs-function-title">
	<span class="name">AsList (</span> 
	<span class="param">INPUT</span> 
	)
</h1>
<div class="w3-container">
	Returns a value encapsulated in a list, but only if it isn't already.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">INPUT</td>
					<td class="tamedocs-parameter-type">VALUE</td>
					<td class="tamedocs-parameter-description">The input value (any type).</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(LIST)</td>
				<td class="tamedocs-parameter-description">The list value of the input value.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function returns the input value or expression result as a list with a single element - itself. 
	</p>
	<p>
		If the input was originally a list, it is returned as-is. This function does not change or convert a value in-place - you must 
		reassign the result. 
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "AsList Example" module_function_aslist_example functions/aslist-example.tscript ]-->
</div>
