<h1 class="tamedocs-function-title">
    <span class="name">FRandom (</span> 
    )
</h1>
<div class="w3-container">
    Returns a random positive floating-point value up to, but not including, 1.0.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
    <h3>Parameters</h3>
</div>
<div class="w3-container">
    <p>
        <em>No Parameters</em>
    </p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
    <h3>Returns</h3>
</div>
<div class="w3-container">
    <div class="tamedocs-table-overflow">
        <table class="w3-table w3-striped">
            <tr>
                <td class="tamedocs-parameter">VALUE(FLOAT)</td>
                <td class="tamedocs-parameter-description">A random floating-point value.</td>
            </tr>
        </table>
    </div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
    <h3>What It Does</h3>
</div>
<div class="w3-container">
    <p>
        This function returns a random floating-point value from 0.0 up to (but not including) 1.0.
    </p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
    <h3>Example</h3>
</div>
<div class="w3-container">
    <p>
        <strong>NOTE:</strong> The following code will return different values every time it is executed!
    </p>
</div>
<div class="w3-container">
<!--[ tamescript "Random Function Examples" module_function_random_example functions/random-example.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
    <h3>See Also</h3>
</div>
<div class="w3-container">
    <p>
        <a href="function-irandom.html">IRandom()</a> &mdash; Returns a random integer value.<br/>
        <a href="function-grandom.html">GRandom()</a> &mdash; Returns a random floating-point value with Gaussian distribution.
    </p>
</div>

<div class="w3-panel w3-red w3-card-2">
    <h3>Additional Technical Notes</h3>
</div>
<div class="w3-container">
    <p>
        Authors can expect the distribution of this random number generator to be uniform.
    </p>
    <!--[ include fragments/techjunk-random.html ]-->
</div>
