<h1 class="tamedocs-function-title">
	<span class="name">StrIndex (</span> 
	<span class="param">STRING</span>, 
	<span class="param">SUBSTRING</span> 
	)
</h1>
<div class="w3-container">
	Gets the character index of the first occurrence of a string in another string.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">STRING</td>
					<td class="tamedocs-parameter-type">A string value.</td>
					<td class="tamedocs-parameter-description">The string to search in.</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">SUBSTRING</td>
					<td class="tamedocs-parameter-type">A string value.</td>
					<td class="tamedocs-parameter-description">The substring to search for.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(INTEGER)</td>
				<td class="tamedocs-parameter-description">The index of the first occurrence of the string (0 or greater), or -1 if not found.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function returns the index of the first occurrence of the second string in the first string. If the second string cannot be 
		found in the first, <strong>-1</strong> is returned. Both provided values are <a href="function-asstring.html">converted to strings</a> 
		before the search. The search is <strong>case-sensitive</strong>.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = StrIndex("applesauce", "sauce");     // a = 5
	a = StrIndex("banana", "na");            // a = 2
	a = StrIndex("tomato", "to");            // a = 0
	a = StrIndex("oranges", "stuff");        // a = -1
	a = StrIndex(12345, 23);                 // a = 1
	a = StrIndex(225.75, ".");               // a = 3
	a = StrIndex("ABCDEFG", "a");            // a = -1
</code></pre>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "String Searching Examples" module_function_strsearch_example functions/strsearch-example.tscript ]-->
</div>
