<h1 class="tamedocs-function-title">
	<span class="name">AsString (</span> 
	<span class="param">INPUT</span> 
	)
</h1>
<div class="w3-container">
	Returns the string value of an input value.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">INPUT</td>
					<td class="tamedocs-parameter-type">VALUE</td>
					<td class="tamedocs-parameter-description">The input value (any type).</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(STRING)</td>
				<td class="tamedocs-parameter-description">The string value of the input value.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function returns the input value or expression result as a string. Lists are output as bracketed lists with
		their values in index order separated by commas.
	</p>
	<p>
		If the input value is already a string, it is returned as-is. This function does not change or convert a value in-place - you must 
		reassign the result. 
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
	<p>
		The type of each of the values are most visible in a <em>trace</em>.
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "AsString Example" module_function_asstring_example functions/asstring-example.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example Result Table</h3>
</div>
<div class="w3-container">
<!--[ generate-table string ]-->
</div>
