<h1 class="tamedocs-function-title">
	<span class="name">Length (</span> 
	<span class="param">VALUE</span> 
	)
</h1>
<div class="w3-container">
	Returns the length of a value. Behavior varies based on type.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">VALUE</td>
					<td class="tamedocs-parameter-type">VALUE</td>
					<td class="tamedocs-parameter-description">The input value (any type).</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(INTEGER)</td>
				<td class="tamedocs-parameter-description">The length of the input value.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function returns the length of the input value, which is different depending on the value type.
	</p>
	<ul>
		<li>If the value is numeric or boolean, this returns <strong>1</strong>.</li>
		<li>If the value is a string, this returns the amount of characters in the string.</li>
		<li>If the value is a list, this returns the amount of elements in the list.</li>
	</ul>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Length Example" module_function_length_example functions/length-example.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example Result Table</h3>
</div>
<div class="w3-container">
<!--[ generate-table length ]-->
</div>
