<h1 class="tamedocs-function-title">
	<span class="name">ListContains (</span> 
	<span class="param">LIST</span>, 
	<span class="param">VALUE</span>
	)
</h1>
<div class="w3-container">
	Checks if a value is in a list.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">LIST</td>
					<td class="tamedocs-parameter-type">VALUE(LIST)</td>
					<td class="tamedocs-parameter-description">The list to search.</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">VALUE</td>
					<td class="tamedocs-parameter-type">VALUE</td>
					<td class="tamedocs-parameter-description">The value to search for.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(BOOLEAN)</td>
				<td class="tamedocs-parameter-description"><strong>TRUE</strong> if the value was found, or <strong>FALSE</strong> if not found.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function searches for the provided value in a list, and returns <strong>TRUE</strong> if found, or <strong>FALSE</strong>
		if not. If the provided list is not a list, <strong>FALSE</strong> is returned. The value can be any type, and <em>strict equality</em> 
		is used to find the matching value to remove. 
	</p>
	<p>
		The search is done in sequential order.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "List Functions Example" module_function_list_example functions/list-example.tscript ]-->
</div>
