<h1 class="tamedocs-function-title">
    <span class="name">Clamp (</span> 
    <span class="param">VALUE</span>, 
    <span class="param">MIN</span>,
    <span class="param">MAX</span>
    )
</h1>
<div class="w3-container">
    Returns a value clamped to a range that is between two values.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
    <h3>Parameters</h3>
</div>
<div class="w3-container">
    <div class="tamedocs-table-overflow">
        <table class="w3-table w3-striped">
            <thead class="w3-teal">
                <tr>
                    <th>Parameter</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tamedocs-parameter">VALUE</td>
                    <td class="tamedocs-parameter-type">VALUE</td>
                    <td class="tamedocs-parameter-description">The input value.</td>
                </tr>
                <tr>
                    <td class="tamedocs-parameter">MIN</td>
                    <td class="tamedocs-parameter-type">VALUE</td>
                    <td class="tamedocs-parameter-description">The lower bound value.</td>
                </tr>
                <tr>
                    <td class="tamedocs-parameter">MAX</td>
                    <td class="tamedocs-parameter-type">VALUE</td>
                    <td class="tamedocs-parameter-description">The upper bound value.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
    <h3>Returns</h3>
</div>
<div class="w3-container">
    <div class="tamedocs-table-overflow">
        <table class="w3-table w3-striped">
            <tr>
                <td class="tamedocs-parameter">VALUE</td>
                <td class="tamedocs-parameter-description">The resultant value.</td>
            </tr>
        </table>
    </div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
    <h3>What It Does</h3>
</div>
<div class="w3-container">
    <p>
        This function returns a value clamped within the provided range - if the input value is
        comparatively less than the lower bound, the lower bound is returned, and if it is greater
        than the upper bound, the upper bound is returned. The value itself is returned if it is greater
        than or equal to the lower bound, and less than or equal to the upper bound.
    </p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
    <h3>See Also</h3>
</div>
<div class="w3-container">
    <p>
        <a href="function-min.html">Min</a> &mdash; Returns the lesser of two values.<br/>
        <a href="function-max.html">Max</a> &mdash; Returns the greater of two values.<br/>
    </p>
</div>

<div class="w3-panel w3-red w3-card-2">
    <h3>Additional Technical Notes</h3>
</div>
<div class="w3-container">
    <!--[ include fragments/techjunk-lexicographical.html ]-->
</div>
