<h1 class="tamedocs-function-title">
	<span class="name">AsInt (</span> 
	<span class="param">INPUT</span> 
	)
</h1>
<div class="w3-container">
	Returns the integer value of an input value.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">INPUT</td>
					<td class="tamedocs-parameter-type">VALUE</td>
					<td class="tamedocs-parameter-description">The input value (any type).</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(INTEGER)</td>
				<td class="tamedocs-parameter-description">The integer value of the input value.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function returns the integer value of the input value or expression. The integer value <strong>0</strong> is returned for values that are not 
		convertible to an integer, such as strings that are not parse-able as integers. Floats are chopped.
	</p>
	<p>
		If the input value is already an integer, it is returned as-is. This function does not change or convert a value in-place - you must 
		reassign the result. 
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
	<p>
		The type of each of the values are most visible in a <em>trace</em>.
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "AsInt Example" module_function_asint_example functions/asint-example.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example Result Table</h3>
</div>
<div class="w3-container">
<!--[ generate-table integer ]-->
</div>
