<h1 class="tamedocs-function-title">
	<span class="name">E (</span> 
	)
</h1>
<div class="w3-container">
	Returns the constant <strong><em>e</em></strong> (Euler's constant).
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<p>
		<em>No Parameters</em>
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(FLOAT)</td>
				<td class="tamedocs-parameter-description">The value of <em>e</em>.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function returns the constant <strong><em>e</em></strong> which equals roughly <kbd>2.718281828459045</kbd>.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = E();       // a = 2.718281828459045
</code></pre>
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Additional Technical Notes</h3>
</div>
<div class="w3-container">
	<p>
		The return value of this function relies on the TAME implementation's value for <strong><em>e</em></strong>. While
		the value of <strong>e</strong> is pretty much matematically set-in-stone, this may not be the case for certain platforms or
		engine implementations, and can vary slightly between them.
	</p>
</div>
