<h1 class="tamedocs-function-title">
	<span class="name">StrParam (</span> 
	<span class="param">STRING</span>, 
	<span class="param">PARAMETERLIST</span>
	)
</h1>
<div class="w3-container">
	Inserts a set of values into a string that contains special tokens, returning a new string.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped">
			<thead class="w3-teal">
				<tr>
					<th>Parameter</th>
					<th>Type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tamedocs-parameter">STRING</td>
					<td class="tamedocs-parameter-type">VALUE(STRING)</td>
					<td class="tamedocs-parameter-description">The input string to scan for insert points.</td>
				</tr>
				<tr>
					<td class="tamedocs-parameter">PARAMETERLIST</td>
					<td class="tamedocs-parameter-type">VALUE(LIST)</td>
					<td class="tamedocs-parameter-description">The list of values to insert.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(STRING)</td>
				<td class="tamedocs-parameter-description">The resultant string after the replacing.</td>
			</tr>
		</table>
	</div>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function takes an input string and finds braced indices in it (e.g. <kbd>{3}</kbd>) for replacing each index with the
		list item that corresponds with it. If the number in the square brackets is not parseable as a positive
		integer, it is not replaced. Indices that are greater than the list size are read as <strong>FALSE</strong>.
	</p>
	<p>
		If the first parameter is not a string, it is <a href="function-asstring.html">interpreted as a string</a>.
		If the second parameter is not a list, it is converted to a list with the parameter as its only element.
	</p>
	<p>
		You can output a <kbd>{</kbd> by doubling up the brace like so: <kbd>{{</kbd>.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = StrParam("{0} and {1}", ["Apples", "Oranges"]);    // a = "Apples and Oranges"
	a = StrParam("{1} and {0}", ["Oranges", "Apples"]);    // a = "Oranges and Apples"
	a = StrParam("This is escaped: {{0}", ["Stuff"]);      // a = "This is escaped: {0}"
	a = StrParam("{0}, {1}, {2}", ["a", "b"]);             // a = "a, b, false"
</code></pre>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "String List Function Examples" module_function_strlist_example functions/strlist-example.tscript ]-->
</div>
