<h1 class="tamedocs-function-title">
	<span class="name">NoCurrentPlayer (</span> 
	)
</h1>
<div class="w3-container">
	Checks if no current player is set.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<p>
		<em>No Parameters</em>
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Returns</h3>
</div>
<div class="w3-container">
	<div class="tamedocs-table-overflow">
		<table class="w3-table w3-striped" >
			<tr>
				<td class="tamedocs-parameter">VALUE(BOOLEAN)</td>
				<td class="tamedocs-parameter-description"><strong>TRUE</strong> if no current player is set, <strong>FALSE</strong> otherwise.</td>
			</tr>
		</table>
	</div>
</div>
	
<div class="w3-panel w3-light-gray w3-card-2">
	<h3>What It Does</h3>
</div>
<div class="w3-container">
	<p>
		This function tests if no current player is set in the context. No player is set if a 
		<a href="function-setplayer.html">SetPlayer()</a> call was never made. If no current player is set,
		this returns <strong>TRUE</strong>. However, if a current player is set, this returns <strong>FALSE</strong>.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Player Example" module_player_function_example functions/player-example.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="function-setplayer.html">SetPlayer()</a> &mdash; Sets the current player.<br/>
		<a href="function-currentplayeris.html">CurrentPlayerIs()</a> &mdash; Tests if the current player is the one provided.<br/>
	</p>
</div>
