<div class="w3-container" style="margin-top: 2em;">
	<p>
		The most common way that a user sends commands to TAME is via text input, usually at some kind of prompt.
		Stuff like:
	</p>
<pre>
	pick up lamp
	look at dog
	scream
</pre>
	<p>
		This text input is sent through a part of TAME called an <em>interpreter</em>. It's the interpreter's job to 
		parse this input and find significant words and phrases in order to divine a meaningful action.
	</p>
	<p>
		While the <strong>module</strong> is a giant accumulation of every element in the world, it also contains what
		the interpreter is supposed to deem significant, mostly by the author assigning names to <strong>actions</strong> and <strong>objects</strong>.
	</p>
</div>

<!------------------------------------------------------------------------------->

<div id="parsing" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#parsing"><i class="link-stub fa fa-link"></i></a> 3.1. How TAME Parses Input <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container">
	<p>
		No matter the method by which input text is sent to TAME, TAME's interpreter takes the input text and cuts 
		it up into chunks of words called <em>tokens</em>. TAME uses the whitespace between words as the delimiter for these tokens.
	</p>
	<p>
		For example, the phrase "look at wooden table" would be broken into the tokens "look", "at", "wooden", and "table" before parsing.
	</p>
	<p>
		TAME always parses input in this manner:
	</p>
	<ul>
		<li><strong>Attempt to parse an Action.</strong> Then, depending on the kind of action:</li>
		<li>If the action type is <strong>GENERAL</strong>,
			<ul><li><strong>Stop.</strong></li></ul>
		</li>
		<li>If the action type is <strong>OPEN</strong>,
			<ul>
				<li><strong>Scan the rest of the input.</strong> Pass it along with the action.</li>
				<li><strong>Stop.</strong></li>
			</ul>
		</li>
		<li>If the action type is <strong>MODAL</strong>,
			<ul>
				<li><strong>Attempt to parse a Mode.</strong></li>
				<li><strong>Stop.</strong></li>
			</ul>
		</li>
		<li>If the action type is <strong>TRANSITIVE</strong>,
			<ul>
				<li><strong>Attempt to parse an Object.</strong></li>
				<li><strong>Stop.</strong></li>
			</ul>
		</li>
		<li>If the action type is <strong>DITRANSITIVE</strong>,
			<ul>
				<li><strong>Attempt to parse an Object.</strong></li>
				<li><strong>Attempt to parse a Conjunction.</strong></li>
				<li>
					<strong>If nothing to parse,</strong>
					<ul><li><strong>Stop.</strong></li></ul>
				</li>
				<li><strong>Attempt to parse a second Object.</strong></li>
				<li><strong>Stop.</strong></li>
			</ul>
		</li>
	</ul>
	<p>
		TAME's interpreter is a <em>greedy</em> interpreter, and this affects how words and phrases are
		matched to actions and objects.
	</p>
</div>

<!------------------------------------------------------------------------------->

<div id="greedy" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#greedy"><i class="link-stub fa fa-link"></i></a> 3.2. What is a &quot;Greedy&quot; interpreter? <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container">
	<p>
		TAME's interpreter is <strong>greedy,</strong> which means it searches for matches using all of the tokens available. In contrast,
		a <strong>lazy</strong> interpreter would stop looking at tokens (and then move on to the next thing to match) the moment that it found a relevant match.
	</p>
	<p>
		For example, if the input was:
	</p>
	<pre>look at wooden table</pre>
	<p>
		And "look" and "look at" are actions, and "wooden table" is an object, in a <strong>lazy</strong> interpreter:
	</p>
	<p>
	<ul>
		<li>Check if "look" is an action.</li>
		<li>Since it is, stop.</li>
		<li>Continue parse with "at wooden table".</li>
	</ul>
	<p>
		But in a <strong>greedy</strong> interpreter:
	</p>
	<ul>
		<li>Check if "look" is an action.</li>
		<li>Since it is, mark "look" as a match.</li>
		<li>Check if "look at" is an action.</li>
		<li>Since it is, mark "look at" as a match.</li>
		<li>Check if "look at wooden" is an action.</li>
		<li>It is not - continue scan.</li>
		<li>Check if "look at wooden table" is an action.</li>
		<li>It is not - continue scan.</li>
		<li>Reached end of input tokens. Best match for action was "look at".</li>
		<li>Continue parse with "wooden table"</li>
	</ul>
	<p>
		This greedy scan still happens for each subsequent match, including action <em>modes</em>, <em>conjunctions</em> and accessible <em>objects</em>.
	</p>
</div>

<!------------------------------------------------------------------------------->

<div id="command" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#command"><i class="link-stub fa fa-link"></i></a> 3.3. How an Action gets Processed <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container">
	<p>
		Once the interpreter figures out all of the parts of the input, it is bundled into a full action and TAME figures out what
		<a href="language-blocks.html">blocks</a> to execute. The blocks executed differ depending on context state or action types
		or target modes or objects with the action.
	</p>
	<p>
		<em>This documentation has several <a href="diagrams.html">diagrams</a> that outline this process.</em>
	</p>
</div>

<!------------------------------------------------------------------------------->

<div id="fail" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#fail"><i class="link-stub fa fa-link"></i></a> 3.4. When the Interpreter Fails Parsing <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container">
	<p>
		Sometimes the user will input something that will fail to parse completely or result in an action that is unhandled. 
		This, too is handled in module logic in other <a href="language-blocks.html">blocks</a>. Depending on what parts 
		of the input are either incomplete or unresolvable, different blocks will be called.
	</p>
	<p>
		If a block does not exist that handles these cases, TAME will add an <kbd>ERROR</kbd> cue to the response 
		for the missing block.
	</p>
	<p>
		<em>This documentation has several <a href="diagrams.html">diagrams</a> that outline this process.</em>
	</p>
</div>

<!--[ set prev_page engine.html ]-->
<!--[ set next_page module.html ]-->
<!--[ include fragments/page-nav-footer.html ]-->
