<div class="w3-container" style="margin-top: 2em;">
	<p>
		Elements are declared in TAMEScript in different ways. Some are informational, some contain executable
		code, and all are important, but not all are necessary to have a compile-able module (except for <strong>world</strong>,
		which is required).
	</p>
</div>
<div class="w3-container" style="margin-top: 2em;">
	<a class="w3-button w3-block w3-xlarge w3-purple" href="language-element-module.html">Module</a>
	<a class="w3-button w3-block w3-xlarge w3-teal" href="language-element-action.html">Actions</a>
	<a class="w3-button w3-block w3-xlarge w3-yellow" href="language-element-world.html">World</a>
	<a class="w3-button w3-block w3-xlarge w3-green" href="language-element-player.html">Player</a>
	<a class="w3-button w3-block w3-xlarge w3-red" href="language-element-room.html">Room</a>
	<a class="w3-button w3-block w3-xlarge w3-orange" href="language-element-container.html">Container</a>
	<a class="w3-button w3-block w3-xlarge w3-blue" href="language-element-object.html">Object</a>
</div>

<!--[ set prev_page tamescript.html ]-->
<!--[ set next_page language-element-module.html ]-->
<!--[ include fragments/page-nav-footer.html ]-->
