<h1>OnAmbiguousCommand ( <em>ACTION</em> )</h1>
<div class="w3-container">
	A block that describes what to do when a valid transitive or ditransitive action is parsed from the input, but an object is parsed
	that shares a name with more than one accessible object, based on the current context.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Valid on Elements</h3>
</div>
<div class="w3-container">
	<a href="language-element-world.html"><span class="w3-tag w3-yellow w3-xlarge">WORLD</span></a>
	<a href="language-element-player.html"><span class="w3-tag w3-green w3-xlarge">PLAYER</span></a>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<table class="w3-table w3-striped" >
		<tr>
			<td class="tamedocs-parameter">ACTION</td>
			<td class="tamedocs-parameter-type">Any ACTION type, <em>OPTIONAL</em>.</td>
			<td class="tamedocs-parameter-description">The action that this block handles.</td>
		</tr>
	</table>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>When it is Called</h3>
</div>
<div class="w3-container">
	<p>
		The <span class="tamedocs-block-type">OnAmbiguousCommand()</span> block is called when the interpreter can parse a valid
		<span class="tamedocs-element-type">action</span> from the interpreted input by name, and the parsed objects have valid
		names, but they refer to more than one currently accessible object.
	</p>
	<p>
		When TAME needs to execute this block, it searches for it on the current <span class="tamedocs-element-type">player</span>,
		then the <span class="tamedocs-element-type">world</span>. It will prioritize the blocks that declare a specific action over
		ones that don't.
	</p>
	<p>
		<a href="tamescript.html#inheritance">Inheritance</a> rules apply when searching for callable blocks, always!
	</p>
	<!--[ include fragments/block-failure.html ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Ambiguous Command Example" module_onactionwith_example blocks/onactionwith-example.tscript ]-->
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Technical Junk</h3>
</div>
<div class="w3-container">
	<p>
		The <span class="tamedocs-block-type">OnAmbiguousCommand()</span> block is context sensitive involving the 
		current <span class="tamedocs-element-type">player</span>. This is assessed when finding the relevant block 
		to execute for the current action being processed. This will affect program flow when <span class="tamedocs-element-type">players</span> change.
	</p>
</div>
