<h1 class="tamedocs-function-title">AfterFailedCommand ( )</h1>
<div class="w3-container">
	A block that describes what to do after a "failed command" is processed.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Valid on Elements</h3>
</div>
<div class="w3-container">
	<a href="language-element-world.html"><span class="w3-tag w3-yellow w3-xlarge">WORLD</span></a>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<em>No Parameters</em>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>When it is Called</h3>
</div>
<div class="w3-container">
	<p>
		The <span class="tamedocs-block-type">AfterFailedCommand()</span> block on the <span class="tamedocs-element-type">world</span>
		element is called after a "failed command" (and the first set of enqueued commands during its execution) are processed. Generally,
		a "failed command" is a command that is processed that is the result of a bad interpreted action (errors, or "unknown" names).
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Lifecycle Example" module_lifecycle_example blocks/lifecycle-example.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="language-block-after-successful-command.html">AfterSuccessfulCommand()</a> &mdash; "Lifecycle" block: called if interpretation succeeds.<br/>
		<a href="language-block-after-every-command.html">AfterEveryCommand()</a> &mdash; "Lifecycle" block: called after every command.
	</p>
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Additional Technical Notes</h3>
</div>
<div class="w3-container">
	<!--[ include fragments/techjunk-lifecycle.html ]-->
	<!--[ include fragments/techjunk-command-flow.html ]-->
</div>
