<div class="w3-container" style="margin-top: 2em;">
	<h3>Quick Reference</h3>
	<table class="w3-table w3-striped w3-border tamedocs-command-reference">
		<thead class="w3-teal">
			<tr>
				<th>Command Name</th>
				<th>Parameters</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<!--[ include fragments/block-tablerow-init.html ]-->
			<!--[ include fragments/block-tablerow-start.html ]-->
			<!--[ include fragments/block-tablerow-on-action.html ]-->
			<!--[ include fragments/block-tablerow-on-action-with.html ]-->
			<!--[ include fragments/block-tablerow-on-action-with-ancestor.html ]-->
			<!--[ include fragments/block-tablerow-on-action-with-other.html ]-->
			<!--[ include fragments/block-tablerow-on-modal-action.html ]-->
			<!--[ include fragments/block-tablerow-on-world-browse.html ]-->
			<!--[ include fragments/block-tablerow-on-room-browse.html ]-->
			<!--[ include fragments/block-tablerow-on-player-browse.html ]-->
			<!--[ include fragments/block-tablerow-on-container-browse.html ]-->
			<!--[ include fragments/block-tablerow-on-element-browse.html ]-->
			<!--[ include fragments/block-tablerow-on-unhandled-action.html ]-->
			<!--[ include fragments/block-tablerow-on-unknown-command.html ]-->
			<!--[ include fragments/block-tablerow-on-ambiguous-command.html ]-->
			<!--[ include fragments/block-tablerow-on-incomplete-command.html ]-->
			<!--[ include fragments/block-tablerow-on-malformed-command.html ]-->
			<!--[ include fragments/block-tablerow-after-successful-command.html ]-->
			<!--[ include fragments/block-tablerow-after-failed-command.html ]-->
			<!--[ include fragments/block-tablerow-after-every-command.html ]-->
		</tbody>
	</table>
</div>
