<h1>OnActionWith ( <em>ACTION</em>, <em>OBJECT</em> )</h1>
<div class="w3-container">
	A block that describes what to do when an element is the target of a valid ditransitive action with another specific object.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Valid on Elements</h3>
</div>
<div class="w3-container">
	<span class="w3-tag w3-blue w3-xlarge">OBJECT</span>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<table class="w3-table w3-striped" >
		<tr>
			<td class="tamedox-parameter">ACTION</td>
			<td class="tamedox-parameter-type">A DITRANSITIVE action.</td>
			<td class="tamedox-parameter-description">The action that this block handles.</td>
		</tr>
		<tr>
			<td class="tamedox-parameter">OBJECT</td>
			<td class="tamedox-parameter-type">GENERAL, OPEN, or TRANSITIVE action (depending on the element type).</td>
			<td class="tamedox-parameter-description">The action that this block handles.</td>
		</tr>
	</table>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>When it is Called</h3>
</div>
<div class="w3-container">
	<p>
		[[FINISH THIS]]
	</p>
	<p>
		Inheritance rules apply when searching for callable blocks, always!
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "OnActionWith Example" module_onactionwith_example blocks/onactionwith-example.tame ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a class="link" href="language-block-init.html">onAction()</a> &mdash; Called to handle an action with another object, or a <em>general</em> action on the current player or room.<br/>
		<a class="link" href="language-block-init.html">onActionWithAncestor()</a> &mdash; Called by <em>ditransitive</em> actions for handling an action with another non-specific object.<br/>
		<a class="link" href="language-block-init.html">onActionWithOther()</a> &mdash; Called by <em>ditransitive</em> actions for handling an action with another object after no specific entry points exist.<br/>
		<a class="link" href="language-block-init.html">onUnhandledAction()</a> &mdash; Called if a command is valid, but an action is unhandled.<br/>
		<a class="link" href="language-block-init.html">onForbiddenAction()</a> &mdash; Called if a command is valid, but an action is disallowed by the current player.<br/>
		<a class="link" href="language-block-init.html">onRoomForbiddenAction()</a> &mdash; Called if a command is valid, but an action is disallowed by the current room.<br/>
	</p>
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Technical Junk</h3>
</div>
<div class="w3-container">
	<p>
		[[FINISH THIS]]
	</p>
</div>
