<h1>OnWorldBrowse ( )</h1>
<div class="w3-container">
	A block that describes what to do when an object is browsed when contained by a world.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Valid on Elements</h3>
</div>
<div class="w3-container">
	<a href="language-element-object.html"><span class="w3-tag w3-blue w3-xlarge">OBJECT</span></a>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<em>No Parameters</em>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>When it is Called</h3>
</div>
<div class="w3-container">
	<p>
		The <span class="tamedocs-block-type">OnWorldBrowse()</span> block is called when TAME needs to execute a 
		<a href="function-browse.html">Browse()</a> function with the world as a parameter and when the object that contains this block is in the
		world. Several of these types of blocks may be called for one call of <a href="function-browse.html">Browse()</a>.
	</p>
	<p>
		<a href="tamescript.html#inheritance">Inheritance</a> rules apply when searching for callable blocks, always!
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Browse Example" module_browse_example blocks/browse-example.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a href="language-block-on-element-browse.html">OnElementBrowse()</a> &mdash; Called when an object is browsed and owned by a specific element or element lineage.<br/>
		<a href="language-block-on-room-browse.html">OnRoomBrowse()</a> &mdash; Called when an object is browsed and owned by a room.<br/>
		<a href="language-block-on-player-browse.html">OnPlayerBrowse()</a> &mdash; Called when an object is browsed and owned by a player.<br/>
		<a href="language-block-on-container-browse.html">OnContainerBrowse()</a> &mdash;  Called when an object is browsed and owned by a container.<br/>
	</p>
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Technical Junk</h3>
</div>
<div class="w3-container">
<!--[ include fragments/techjunk-onbrowse.html ]-->
</div>
