<h1>OnUnknownCommand ( )</h1>
<div class="w3-container">
	A block that describes what to do when a valid action cannot be parsed from the input.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Valid on Elements</h3>
</div>
<div class="w3-container">
	<a href="language-element-world.html"><span class="w3-tag w3-yellow w3-xlarge">WORLD</span></a>
	<a href="language-element-player.html"><span class="w3-tag w3-green w3-xlarge">PLAYER</span></a>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<em>No Parameters</em>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>When it is Called</h3>
</div>
<div class="w3-container">
	<p>
		The <span class="tamedocs-block-type">OnUnknownCommand()</span> block is called when the interpreter cannot parse a valid
		action from the interpreted input by name.
	</p>
	<p>
		When TAME needs to execute this block, it searches for it on the current <span class="tamedocs-element-type">player</span>,
		then the <span class="tamedocs-element-type">world</span>.
	</p>
	<p>
		<a href="tamescript.html#inheritance">Inheritance</a> rules apply when searching for callable blocks, always!
	</p>
	<!--[ include fragments/block-failure.html ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Unknown Command Example" module_onactionwith_example blocks/onactionwith-example.tscript ]-->
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Additional Technical Notes</h3>
</div>
<div class="w3-container">
	<p>
		The <span class="tamedocs-block-type">OnUnknownCommand()</span> block is context sensitive involving the 
		current <span class="tamedocs-element-type">player</span>. This is assessed when finding the relevant block 
		to execute for the current action being processed. This will affect program flow when <span class="tamedocs-element-type">players</span> change.
	</p>
</div>
