<div class="w3-container" style="margin-top: 2em;">
	<p>
		Since you can have multiple elements that more than likely have the same types of characteristics
		or behavior with certain actions, it might be useful to define them hierarchically. TAMEScript has a 
		mechanism to define these relationships, called <strong>inheritance</strong>.
	</p>
	<p>
		Elements in TAME (that are not the <strong>world</strong>) can specify a <em>parent</em> element of the same type to 
		inherit the defined blocks and functions from:
	</p>
</div>
<div class="w3-container">
<pre class="tame-example"><code data-language="tamescript">
	object o_car named "car"
	{
		init()
		{
			driven = false;
		}
	
		onAction(a_drive)
		{
			if (driven)
				textln("I already drove it.");
			else
				textln("You drive the car. Wheee!");
			driven = true;
		}

		onAction(a_examine)
		{
			textln("Looks like a car.");
		}

	}

	object o_sedan : o_car named "sedan", "car"
	{
		override onAction(a_examine)
		{
			textln("Looks like a sedan.");
		}
	}
</code></pre>
</div>
<div class="w3-container">
	<p>
		In the above example, the object <kbd>o_sedan</kbd> inherits from <kbd>o_car</kbd>. The object <kbd>o_sedan</kbd>
		is now functionally and structurally equivalent to:
	</p>
</div>
<div class="w3-container">
<pre class="tame-example"><code data-language="tamescript">
	object o_sedan named "sedan", "car"
	{
		/* Inherited stuff starts here */
	
		init()
		{
			driven = false;
		}
	
		onAction(a_drive)
		{
			if (driven)
				textln("I already drove it.");
			else
				textln("You drive the car. Wheee!");
			driven = true;
		}

		/*******************************/
	
		onAction(a_examine)
		{
			textln("Looks like a sedan.");
		}
	}
</code></pre>
</div>
<div class="w3-container" style="margin-top:2em;">
	<p>
		There is no limit to how deep an inheritable hierarchy can go, but it's still best to use identifiers
		and schemes that make sense in order to keep it from being overwhelming. 
	</p>
</div>
<div class="w3-container">
<pre class="tame-example"><code data-language="tamescript">
	object o_allobjects;
	object o_keys : o_allobjects;
	object o_orange_key : o_keys;
	object o_blue_key : o_keys;

	room r_allrooms;
	room r_livingroom : r_allrooms;
	room r_bedroom : r_allrooms;
	room r_master_bedroom : r_bedroom;
</code></pre>
</div>


<div class="w3-container" style="margin-top:2em;">
	<h3 id="override">Override</h3>
	<p>
		In an example earlier on this page, one of the entry blocks was changed in the <em>child</em> object of <kbd>o_car</kbd>.
		In order to denote that it is being replaced, the new function or entry block must be prefixed with the <strong>override</strong>
		keyword.
	</p>
</div>
<div class="w3-container">
<pre class="tame-example"><code data-language="tamescript">
	room r_livingroom
	{
		function examineRoom()
		{
			textln("You are in the living room.");
		}

		onAction(a_lookaround)
		{
			examineRoom();
		}
	
	}
	
	room r_cozylivingroom : r_livingroom
	{
		override function examineRoom()
		{
			textln("You are in the COZY living room.");
		}
	}
</code></pre>
</div>
<div class="w3-container">
	<p>
		<strong>NOTE:</strong> If you attempt to define an existing entry point or function within an element's lineage <em>without</em> 
		using <strong>override</strong>, the TAMEScript compiler will give you an error. 
	</p>
</div>


<div class="w3-container" style="margin-top:2em;">
	<h3 id="archetype">Archetype</h3>
	<p>
		The keyword <strong>archetype</strong> can be used to create elements that do not hold a context, but instead have
		common functions and entry points among its descendants. <em>Archetypes</em> can also inherit from other elements of the same type. 
		Archetyping is useful when you have multiple elements with similar behavior, with small changes among its children.
	</p>
	<p>
		For example, if you have a set of keys, it might be preferable to create an archetype <em>key</em> that all keys inherit
		from, and the only thing different would be the material or look (since you can check types).
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Archetype Example" module_archetype_key_example examples/archetype-key.tame ]-->
</div>

<div class="w3-container" style="margin-top:2em;">
	<h3 id="contexts">A Clarification on Contexts</h3>
	<p>
		Note that just because an element can inherit functions and entry blocks from other elements, it does NOT
		inherit context variables or treat context variables as though they are shared in the hierarchy - each element
		(that is NOT an <em>archetype</em>) still has its own context. This means that nothing at <em>runtime</em> is shared,
		<em>only the code that executes.</em>
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Context Example" module_inheritance_context_example examples/inheritance-context.tame ]-->
</div>


<!--[ set prev_page language-element-container.html ]-->
<!--[ set next_page language-blocks.html ]-->
<!--[ include fragments/page-nav-footer.html ]-->
