<div class="w3-container" style="margin-top: 2em;">
	<p>
		Elements are declared in TAMEScript in different ways. Some are informational, some contain executable
		code, and all are important, but not all are necessary to have a compile-able module (except for <strong>world</strong>,
		which is required).
	</p>
</div>
<div class="w3-container w3-center" style="font-size:150%">
	<p>
		<a href="language-element-module.html">Module</a>
	</p>
	<p>
		<a href="language-element-action.html">Actions</a>
	</p>
	<p>
		<a href="language-element-world.html">World</a>
	</p>
	<p>
		<a href="language-element-player.html">Player</a>
	</p>
	<p>
		<a href="language-element-room.html">Room</a>
	</p>
	<p>
		<a href="language-element-container.html">Container</a>
	</p>
	<p>
		<a href="language-element-object.html">Object</a>
	</p>
</div>

<!--[ set prev_page tamescript.html ]-->
<!--[ set next_page language-element-module.html ]-->
<!--[ include fragments/page-nav-footer.html ]-->
