<h1>Init ( )</h1>
<div class="w3-container">
	The initialization block of every element in the module. Called on each element when the module is first initialized.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Valid on Elements</h3>
</div>
<div class="w3-container">
	<span class="w3-tag w3-yellow w3-xlarge">WORLD</span>
	<span class="w3-tag w3-green w3-xlarge">PLAYER</span>
	<span class="w3-tag w3-red w3-xlarge">ROOM</span>
	<span class="w3-tag w3-blue w3-xlarge">OBJECT</span>
	<span class="w3-tag w3-orange w3-xlarge">CONTAINER</span>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<em>No Parameters</em>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>When it is Called</h3>
</div>
<div class="w3-container">
	<p>
		The <span class="tamedox-block-type">init()</span> block is called on each element when TAME needs to create a new context. 
	</p>
	<p>
		The best thing to do in <span class="tamedox-block-type">init()</span> blocks are setting variables on the element it is initializing.
		You can theoretically do anything in these blocks, but it may be better to set up object ownership and other 
		enviromental things in the <a class="link" href="language-block-start.html">start()</a> block on the world, since it gets called after 
		all <span class="tamedox-block-type">init()</span> blocks are called.
	</p>
	<p>
		It is important to note that you <em>cannot</em> guarantee the order in which <span class="tamedox-block-type">init()</span> blocks are 
		called on each element.
	</p>
	<p>
		Elements are not required to have <span class="tamedox-block-type">init()</span> blocks. Inheritance rules still apply.
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Init/Start Example" module_init_start_example blocks/init-start-example.tame ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a class="link" href="language-block-start.html">start()</a> &mdash; Called after all <span class="tamedox-block-type">init()</span> blocks are called.<br/>
	</p>
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Technical Junk</h3>
</div>
<div class="w3-container">
	<p>
		When we say that "you cannot guarantee the order in which <span class="tamedox-block-type">init()</span> blocks are called," this means
		that you cannot rely on any element in TAME to initialize elements in the same order, or on <em>any</em> determined order in <em>any</em> implementation of TAME,
		on <em>any</em> platform that TAME runs on.
	</p>
	<p>
		A good guideline is to not write code in <span class="tamedox-block-type">init()</span> blocks that rely on the value 
		of a variable on other elements, or relies on object ownership of other elements, or any other element's context-specific state.
	</p>
	<!--[ include fragments/techjunk-init-start.html ]-->
</div>
