<div class="w3-container" style="margin-top: 2em;">
	<p>
		In order for an <strong>action</strong> to be recognized in TAME, it must be declared in an <em>action clause</em>,
		usually at the start of TAMEScript code so that it is understood by the compiler throughout
		parsing. Most interactive fiction systems have these set in stone.
	</p>
	<p>
		Not TAME, though! You can make nearly any string into an action able to be parsed by the interpreter,
		but that also means that if it isn't declared, TAME doesn't know about it.
	</p>
	<p>
		All actions have the same declaration pattern, but differ slightly with each main type.
		As stated earlier in the documentation, there are 5 action types: <strong>General</strong>, 
		<strong>Transitive</strong>, <strong>Ditransitive</strong>, <strong>Modal</strong>, and <strong>Open</strong>.		
	</p>
	<p>
		Action declarations contain no executable code. Code associated with actions are handled on other elements.
	</p>
</div>
<div class="w3-container w3-center" style="margin-top:2em;">
	<a class="w3-button w3-xlarge w3-red" href="language-element-action-general.html">General</a>
	<a class="w3-button w3-xlarge w3-orange" href="language-element-action-transitive.html">Transitive</a>
	<a class="w3-button w3-xlarge w3-yellow" href="language-element-action-ditransitive.html">Ditransitive</a>
	<a class="w3-button w3-xlarge w3-green" href="language-element-action-modal.html">Modal</a>
	<a class="w3-button w3-xlarge w3-blue" href="language-element-action-open.html">Open</a>
</div>

<!--
<div class="w3-container">
<pre class="tame-example"><code data-language="tamescript">
	action [MODIFIERS] [TYPE] [IDENTIFIER] [NAME_CLAUSE] [ADDITIONAL_CLAUSE] ;
</code></pre>
</div>
<div class="w3-container">
	<table class="w3-table w3-border w3-striped">
		<tbody>
			<tr>
				<td>[MODIFIERS]</td>
				<td>
					An optional declaration of one or more additional modifiers for action behavior.<br/>
					<br/>
					<kbd>restricted</kbd>: Denotes that this action is available only in situations that
					<em>explicitly</em> allow it to be used and interpreted. By default, actions are not 
					restricted.<br/>
					<kbd>strict</kbd>: Apply "strict behavior" to the handling of this action. This
					can be different for each type.<br/>
					<kbd>reversed</kbd>: Apply "reversed behavior" to the handling of this action. This is
					only really applicable to <kbd>ditransitive</kbd> actions.<br/>					
				</td>
			</tr>
			<tr>
				<td>[TYPE]</td>
				<td>
					The action type: <kbd>general</kbd>, <kbd>transitive</kbd>, 
					<kbd>ditransitive</kbd>, <kbd>modal</kbd>, <kbd>open</kbd>.
				</td>
			</tr>
			<tr>
				<td>[IDENTIFIER]</td>
				<td>
					An internal <a href="tamescript.html#identifiers">identifier</a> that represents this
					action in the rest of TAMEScript. This is used to find what entry blocks throughout the
					code should be executed when a name associated with this action is parsed by the interpreter
					or when a specific action is queued by another command.
				</td>
			</tr>
			<tr>
				<td>[NAME_CLAUSE]</td>
				<td>
					The keyword <kbd>named</kbd> followed by a comma-delimited list of strings that the
					interpreter is supposed to associate with this command. The compiler does not check for
					name duplicates. Names are sanitized to what the interpreter accepts.
				</td>
			</tr>
			<tr>
				<td>[ADDITIONAL_CLAUSE]</td>
				<td>
					Other keywords and values associated with the action type.
				</td>
			</tr>
		</tbody>
	</table>
</div>
-->

<!--[ set prev_page language-element-module.html ]-->
<!--[ set next_page language-element-action-general.html ]-->
<!--[ include fragments/page-nav-footer.html ]-->
