<div class="w3-container" style="margin-top: 2em;">
	<!--[ include fragments/module-action-ditransitive.html ]-->
</div>
<div class="w3-container">
<pre class="tame-example"><code data-language="tamescript">
	action [MODIFIERS] ditransitive [IDENTIFIER] [NAME_CLAUSE] ;
</code></pre>
</div>

<div class="w3-container">
	<table class="w3-table">
		<tbody>
			<tr>
				<td>[MODIFIERS]</td>
				<td>
					An optional declaration of one or more additional modifiers for action behavior.<br/>
					<br/>
					<kbd>restricted</kbd>: Denotes that this action is available only in situations that
					<em>explicitly</em> allow it to be used and interpreted. By default, actions are not 
					restricted.<br/>
					<kbd>strict</kbd>: Apply "strict behavior" to the handling of this action. "Strict"
					<em>ditransitive</em> actions require <em>both</em> objects to be specified, only 
					searches for action handling blocks <em>in the order that the objects are specified</em>, 
					and do not tolerate additional things typed at the interpreter past the parsed objects and 
					conjunction after the action.<br/>
					<kbd>reversed</kbd>: Apply "reversed behavior" to the handling of this action: if "strict,"
					action handling blocks are searched in the opposite manner (the first object is object 2, the
					second object is object 1). This has <strong>no effect</strong> if "strict" is not specified.
				</td>
			</tr>
			<tr>
				<td>[IDENTIFIER]</td>
				<td>
					An internal <a href="tamescript.html#identifiers">identifier</a> that represents this
					action in the rest of TAMEScript. This is used to find what entry blocks throughout the
					code should be executed when a name associated with this action is parsed by the interpreter
					or when a specific action is queued by another command. This identifier must not be used to
					describe another element.
				</td>
			</tr>
			<tr>
				<td>[NAME_CLAUSE]</td>
				<td>
					The keyword <kbd>named</kbd> followed by a comma-delimited list of strings that the
					interpreter is supposed to associate with this command. The compiler does not check for
					name duplicates - equivalent names overwrite their association. Names, internally, are 
					sanitized to what the interpreter accepts.<br/>
					<br/>
					After the list of action names, the keywords <kbd>uses conjunctions</kbd> are required as well
					as a comma-delimited list of strings that the interpreter uses as valid conjunctions for 
					separating both objects.<br/>
					<br/>
					This clause is <em>optional</em> - if no names are declared, this is not parse-able in the
					interpreter. Leaving this out is a way to make "private" actions.
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="w3-container">
	<p>
		The following are a few examples of transitive action declarations:
	</p>
</div>
<div class="w3-container">
<pre class="tame-example"><code data-language="tamescript">
	action ditransitive a_mix named "mix", "combine" uses conjunctions "and", "with";
	action strict ditransitive a_talk_to named "talk to" uses conjunctions "about";
	action strict reversed ditransitive a_give named "give" uses conjunctions "to";
</code></pre>
</div>
<div class="w3-container">
	<!--[ include fragments/ditransitive-flow.html ]-->
</div>
<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Ditransitive Action Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Ditransitive Action Example" module_onactionwith_example blocks/onactionwith-example.tame ]-->
</div>

<!--[ set prev_page language-element-action-transitive.html ]-->
<!--[ set next_page language-element-action-modal.html ]-->
<!--[ include fragments/page-nav-footer.html ]-->
