<h1>OnActionWithOther ( <em>ACTION</em> )</h1>
<div class="w3-container">
	A block that describes what to do when an element is the target of a valid <strong>ditransitive</strong> 
	or <strong>transitive</strong> action with another object's lineage.
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Valid on Elements</h3>
</div>
<div class="w3-container">
	<a href="language-element-world.html"><span class="w3-tag w3-yellow w3-xlarge">WORLD</span></a>
	<a href="language-element-player.html"><span class="w3-tag w3-green w3-xlarge">PLAYER</span></a>
	<a href="language-element-room.html"><span class="w3-tag w3-red w3-xlarge">ROOM</span></a>
	<a href="language-element-object.html"><span class="w3-tag w3-blue w3-xlarge">OBJECT</span></a>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Parameters</h3>
</div>
<div class="w3-container">
	<table class="w3-table w3-striped" >
		<tr>
			<td class="tamedocs-parameter">ACTION</td>
			<td class="tamedocs-parameter-type">A DITRANSITIVE or TRANSITIVE action.</td>
			<td class="tamedocs-parameter-description">The action that this block handles.</td>
		</tr>
	</table>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>When it is Called</h3>
</div>
<div class="w3-container">
	<h3>Ditransitive Actions</h3>
	<p>
		The <span class="tamedocs-block-type">onActionWithOther()</span> block is called when a <strong>ditransitive</strong> action 
		would ordinarily call an <span class="tamedocs-block-type">onActionWith()</span> or <span class="tamedocs-block-type">onActionWithAncestor()</span> block, 
		but they are passed over due to no match, and needs to be handled by this entry point.
	</p>
	<!--[ include fragments/ditransitive-flow.html ]-->
	<h3>Transitive Actions</h3>
	<p>
		The <span class="tamedocs-block-type">onActionWithOther()</span> block is called on a <span class="tamedocs-element-type">room</span>, 
		<span class="tamedocs-element-type">player</span>, or <span class="tamedocs-element-type">world</span> when a <strong>transitive</strong>
		action needs to handle a target <span class="tamedocs-element-type">object</span>, but an <span class="tamedocs-block-type">onAction()</span>
		block does not exist on the target object, or a matching <span class="tamedocs-block-type">onActionWith()</span> block didn't 
		exist on the <span class="tamedocs-element-type">room</span>, <span class="tamedocs-element-type">player</span>, or 
		<span class="tamedocs-element-type">world</span>, and then a matching suitable <span class="tamedocs-block-type">onActionWithAncestor()</span> block didn't 
		exist on the <span class="tamedocs-element-type">room</span>, <span class="tamedocs-element-type">player</span>, or 
		<span class="tamedocs-element-type">world</span>.
	</p>
	<!--[ include fragments/transitive-fallback-flow.html ]-->
	<p style="margin-top:2em;">
		<a href="tamescript.html#inheritance">Inheritance</a> rules apply when searching for callable blocks, always!
	</p>
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Ditransitive Action Example" module_onactionwith_example blocks/onactionwith-example.tscript ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-2">
	<h3>See Also</h3>
</div>
<div class="w3-container">
	<p>
		<a class="link" href="language-block-on-action.html">onAction()</a> &mdash; Called to handle an action with another object, or a <em>general</em> action on the current player or room.<br/>
		<a class="link" href="language-block-on-action-with.html">onActionWith()</a> &mdash; Called by <em>ditransitive</em> or <em>transitive</em> actions for handling an action with another object.<br/>
		<a class="link" href="language-block-on-action-with-ancestor.html">onActionWithAncestor()</a> &mdash; Called by <em>ditransitive</em> or <em>transitive</em> actions for handling an action with another non-specific object.<br/>
		<a class="link" href="language-block-on-unhandled-action.html">onUnhandledAction()</a> &mdash; Called if a command is valid, but an action is unhandled.<br/>
	</p>
</div>

<div class="w3-panel w3-red w3-card-2">
	<h3>Technical Junk</h3>
</div>
<div class="w3-container">
	<p>
		The "first" and "second" <span class="tamedocs-element-type">objects</span> are determined by the interpreter. The order still
		matters even if the action is not <em>strict</em>. This stops when it finds a single relevant block.
	</p>
	<p>
		If not <em>strict</em>, the object test order is always first-onActionWith-second, then second-onActionWith-first.
		Ancestor checks are the same way.
	</p>
</div>
