<div class="w3-container" style="margin-top: 2em;">
	<h3>Quick Reference</h3>
	<table class="w3-table w3-striped tamedox-command-reference">
		<thead>
			<tr>
				<th>Command Name</th>
				<th>Arguments</th>
				<th>Returns</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="command-noop.html">NoOp</a></td>
				<td>None</td>
				<td>Nothing</td>
				<td>Does nothing.</td>
			</tr>
			<tr>
				<td><a href="command-queueaction.html">QueueAction</a></td>
				<td><em>ACTION</em></td>
				<td>Nothing</td>
				<td>Queues a general action <em>ACTION</em> to be executed once this one completes.</td>
			</tr>
			<tr>
				<td><a href="command-queueactionstring.html">QueueActionString</a></td>
				<td><em>ACTION, VALUE(STRING)</em></td>
				<td>Nothing</td>
				<td>Queues an open action <em>ACTION</em> with target <em>VALUE</em> to be executed once this one completes.</td>
			</tr>
			<tr>
				<td><a href="command-queueactionstring.html">QueueActionObject</a></td>
				<td><em>ACTION, OBJECT</em></td>
				<td>Nothing</td>
				<td>Queues a transitive/ditransitive action <em>ACTION</em> with target <em>OBJECT</em> to be executed once this one completes.</td>
			</tr>
			<tr>
				<td><a href="command-queueactionforobjectsin.html">QueueActionForObjectsIn</a></td>
				<td><em>ACTION, OBJECT_CONTAINER</em></td>
				<td>Nothing</td>
				<td>Queues a transitive/ditransitive action <em>ACTION</em> for each object in <em>OBJECT_CONTAINER</em> to be executed once this one completes.</td>
			</tr>
			<tr>
				<td><a href="command-queueactionfortaggedobjectsin.html">QueueActionForTaggedObjectsIn</a></td>
				<td><em>ACTION, OBJECT_CONTAINER, VALUE(STRING)</em></td>
				<td>Nothing</td>
				<td>Queues a transitive/ditransitive action <em>ACTION</em> for each object in <em>OBJECT_CONTAINER</em> with tag <em>VALUE</em> to be executed once this one completes.</td>
			</tr>
			<tr>
				<td><a href="command-queueactionobject2.html">QueueActionObject2</a></td>
				<td><em>ACTION, OBJECT1, OBJECT2</em></td>
				<td>Nothing</td>
				<td>Queues a ditransitive action <em>ACTION</em> with targets <em>OBJECT1</em> and <em>OBJECT2</em> to be executed once this one completes.</td>
			</tr>
			<tr>
				<td><a href="command-queueactionobject2.html">AddCue</a></td>
				<td><em>VALUE(STRING), VALUE(STRING)</em></td>
				<td>Nothing</td>
				<td>Adds a <em>VALUE</em> cue to the response with content <em>VALUE</em>.</td>
			</tr>
			<tr>
				<td><a href="command-text.html">Text</a></td>
				<td><em>VALUE(STRING)</em></td>
				<td>Nothing</td>
				<td>Convenience for <em>AddCue("text", VALUE)</em></td>
			</tr>
			<tr>
				<td><a href="command-textln.html">Textln</a></td>
				<td><em>VALUE(STRING)</em></td>
				<td>Nothing</td>
				<td>Convenience for <em>AddCue("text", VALUE + "\n")</em></td>
			</tr>
			<tr>
				<td><a href="command-textf.html">Textf</a></td>
				<td><em>VALUE(STRING)</em></td>
				<td>Nothing</td>
				<td>Convenience for <em>AddCue("textf", VALUE)</em></td>
			</tr>
			<tr>
				<td><a href="command-textfln.html">Textfln</a></td>
				<td><em>VALUE(STRING)</em></td>
				<td>Nothing</td>
				<td>Convenience for <em>AddCue("textf", VALUE + "\n")</em></td>
			</tr>
			<tr>
				<td><a href="command-pause.html">Pause</a></td>
				<td>None</td>
				<td>Nothing</td>
				<td>Convenience for <em>AddCue("pause", "")</em></td>
			</tr>
			<tr>
				<td><a href="command-wait.html">Wait</a></td>
				<td>VALUE(INTEGER)</td>
				<td>Nothing</td>
				<td>Convenience for <em>AddCue("wait", VALUE)</em></td>
			</tr>
			<tr>
				<td><a href="command-tip.html">Tip</a></td>
				<td>VALUE(STRING)</td>
				<td>Nothing</td>
				<td>Convenience for <em>AddCue("tip", VALUE)</em></td>
			</tr>
			<tr>
				<td><a href="command-info.html">Info</a></td>
				<td>VALUE(STRING)</td>
				<td>Nothing</td>
				<td>Convenience for <em>AddCue("info", VALUE)</em></td>
			</tr>
			<tr>
				<td><a href="command-asboolean.html">AsBoolean</a></td>
				<td>VALUE</td>
				<td>VALUE(BOOLEAN)</td>
				<td>Returns the boolean value of <em>VALUE</em>.</td>
			</tr>
			<tr>
				<td><a href="command-asint.html">AsInt</a></td>
				<td>VALUE</td>
				<td>VALUE(INTEGER)</td>
				<td>Returns the integer value of <em>VALUE</em>.</td>
			</tr>
			<tr>
				<td><a href="command-asfloat.html">AsFloat</a></td>
				<td>VALUE</td>
				<td>VALUE(FLOAT)</td>
				<td>Returns the floating-point value of <em>VALUE</em>.</td>
			</tr>
			<tr>
				<td><a href="command-asstring.html">AsString</a></td>
				<td>VALUE</td>
				<td>VALUE(STRING)</td>
				<td>Returns the string value of <em>VALUE</em>.</td>
			</tr>
			<tr>
				<td><a href="command-strlength.html">StrLength</a></td>
				<td>VALUE(STRING)</td>
				<td>VALUE(INTEGER)</td>
				<td>Returns the amount of characters in the string representation of <em>VALUE</em>.</td>
			</tr>
			<tr>
				<td><a href="command-strconcat.html">StrConcat</a></td>
				<td>VALUE1(STRING), VALUE2(STRING)</td>
				<td>VALUE(STRING)</td>
				<td>Returns the resultant string of sticking two strings together: <em>VALUE1</em> and <em>VALUE2</em>.</td>
			</tr>
			<tr>
				<td><a href="command-strreplace.html">StrReplace</a></td>
				<td>VALUE1(STRING), VALUE2(STRING), VALUE3(STRING)</td>
				<td>VALUE(STRING)</td>
				<td>Returns the resultant string of taking <em>VALUE1</em> and replacing the first occurrance of <em>VALUE2</em> with <em>VALUE3</em>.</td>
			</tr>
			<tr>
				<td><a href="command-strreplacepattern.html">StrReplacePattern</a></td>
				<td>VALUE1(STRING), VALUE2(STRING), VALUE3(STRING)</td>
				<td>VALUE(STRING)</td>
				<td>Returns the resultant string of taking <em>VALUE1</em> and replacing the first occurrance of RegEx pattern <em>VALUE2</em> with <em>VALUE3</em>.</td>
			</tr>
			<tr>
				<td><a href="command-strreplacepatternall.html">StrReplacePatternAll</a></td>
				<td>VALUE1(STRING), VALUE2(STRING), VALUE3(STRING)</td>
				<td>VALUE(STRING)</td>
				<td>Returns the resultant string of taking <em>VALUE1</em> and replacing every occurrance of RegEx pattern <em>VALUE2</em> with <em>VALUE3</em>.</td>
			</tr>
			<tr>
				<td><a href="command-strindex.html">StrIndex</a></td>
				<td>VALUE1(STRING), VALUE2(STRING)</td>
				<td>VALUE(INTEGER)</td>
				<td>Returns the index of the first occurrance of <em>VALUE2</em> in <em>VALUE1</em>, or <strong>-1</strong> if not found.</td>
			</tr>
			<tr>
				<td><a href="command-strlastindex.html">StrLastIndex</a></td>
				<td>VALUE1(STRING), VALUE2(STRING)</td>
				<td>VALUE(INTEGER)</td>
				<td>Returns the index of the last occurrance of <em>VALUE2</em> in <em>VALUE1</em>, or <strong>-1</strong> if not found.</td>
			</tr>
			<tr>
				<td><a href="command-strcontains.html">StrContains</a></td>
				<td>VALUE1(STRING), VALUE2(STRING)</td>
				<td>VALUE(BOOLEAN)</td>
				<td>Returns <strong>TRUE</strong> if <em>VALUE2</em> is in <em>VALUE1</em>, or <strong>FALSE</strong> if not.</td>
			</tr>
			<tr>
				<td><a href="command-strcontainspattern.html">StrContainsPattern</a></td>
				<td>VALUE1(STRING), VALUE2(STRING)</td>
				<td>VALUE(BOOLEAN)</td>
				<td>Returns <strong>TRUE</strong> if RegEx <em>VALUE2</em> matches a part of <em>VALUE1</em>, or <strong>FALSE</strong> if not.</td>
			</tr>
			<tr>
				<td><a href="command-strcontainstoken.html">StrContainsToken</a></td>
				<td>VALUE1(STRING), VALUE2(STRING)</td>
				<td>VALUE(BOOLEAN)</td>
				<td>Returns <strong>TRUE</strong> if token <em>VALUE2</em> is in <em>VALUE1</em> (case-insensitive), or <strong>FALSE</strong> if not.</td>
			</tr>
			<tr>
				<td><a href="command-strstartswith.html">StrStartsWith</a></td>
				<td>VALUE1(STRING), VALUE2(STRING)</td>
				<td>VALUE(BOOLEAN)</td>
				<td>Returns <strong>TRUE</strong> if string <em>VALUE1</em> starts with string <em>VALUE2</em>, or <strong>FALSE</strong> if not.</td>
			</tr>
			<tr>
				<td><a href="command-strendswith.html">StrEndsWith</a></td>
				<td>VALUE1(STRING), VALUE2(STRING)</td>
				<td>VALUE(BOOLEAN)</td>
				<td>Returns <strong>TRUE</strong> if string <em>VALUE1</em> ends with string <em>VALUE2</em>, or <strong>FALSE</strong> if not.</td>
			</tr>
			<tr>
				<td><a href="command-substring.html">Substring</a></td>
				<td>VALUE1(STRING), VALUE2(INTEGER), VALUE3(INTEGER)</td>
				<td>VALUE(STRING)</td>
				<td>Returns a part of a larger string <em>VALUE1</em>, from character index <em>VALUE2(INTEGER)</em> (inclusive), to index <em>VALUE3(INTEGER)</em> (exclusive).</td>
			</tr>
			<tr>
				<td><a href="command-strlower.html">StrLower</a></td>
				<td>VALUE(STRING)</td>
				<td>VALUE(STRING)</td>
				<td>Returns <em>VALUE</em> as a lower-case string. May be locale-specific.</td>
			</tr>
			<tr>
				<td><a href="command-strlower.html">StrUpper</a></td>
				<td>VALUE(STRING)</td>
				<td>VALUE(STRING)</td>
				<td>Returns <em>VALUE</em> as a upper-case string. May be locale-specific.</td>
			</tr>
			<tr>
				<td><a href="command-strchar.html">StrChar</a></td>
				<td>VALUE1(STRING), VALUE2(INTEGER)</td>
				<td>VALUE(STRING)</td>
				<td>Returns <em>VALUE</em> as a upper-case string. May be locale-specific.</td>
			</tr>
			<tr>
				<td><a href="command-strtrim.html">StrTrim</a></td>
				<td>VALUE(STRING)</td>
				<td>VALUE(STRING)</td>
				<td>Returns <em>VALUE</em> with superfluous whitespace removed from both the start and end.</td>
			</tr>
			<tr>
				<td><a href="command-floor.html">Floor</a></td>
				<td>VALUE(FLOAT)</td>
				<td>VALUE(FLOAT)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-ceiling.html">Ceiling</a></td>
				<td>VALUE(FLOAT)</td>
				<td>VALUE(FLOAT)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-round.html">Round</a></td>
				<td>VALUE(FLOAT)</td>
				<td>VALUE(FLOAT)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-fix.html">Fix</a></td>
				<td>VALUE1(FLOAT), VALUE2(INTEGER)</td>
				<td>VALUE(FLOAT)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-fix.html">Sqrt</a></td>
				<td>VALUE1(FLOAT)</td>
				<td>VALUE(FLOAT)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-pi.html">PI</a></td>
				<td>None</td>
				<td>VALUE(FLOAT)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-e.html">E</a></td>
				<td>None</td>
				<td>VALUE(FLOAT)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-sin.html">sin</a></td>
				<td>VALUE(FLOAT)</td>
				<td>VALUE(FLOAT)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-cos.html">cos</a></td>
				<td>VALUE(FLOAT)</td>
				<td>VALUE(FLOAT)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-tan.html">tan</a></td>
				<td>VALUE(FLOAT)</td>
				<td>VALUE(FLOAT)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-min.html">min</a></td>
				<td>VALUE1, VALUE2</td>
				<td>VALUE</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-max.html">max</a></td>
				<td>VALUE1, VALUE2</td>
				<td>VALUE</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-clamp.html">Clamp</a></td>
				<td>VALUE1(FLOAT), VALUE2(FLOAT), VALUE3(FLOAT)</td>
				<td>VALUE</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-random.html">Random</a></td>
				<td>VALUE</td>
				<td>VALUE</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-frandom.html">FRandom</a></td>
				<td>None</td>
				<td>VALUE(FLOAT)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-grandom.html">GRandom</a></td>
				<td>VALUE1(FLOAT), VALUE2(FLOAT)</td>
				<td>VALUE(FLOAT)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-time.html">Time</a></td>
				<td>None</td>
				<td>VALUE(INTEGER)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-seconds.html">Seconds</a></td>
				<td>VALUE1(INTEGER), VALUE2(INTEGER)</td>
				<td>VALUE(INTEGER)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-minutes.html">Minutes</a></td>
				<td>VALUE1(INTEGER), VALUE2(INTEGER)</td>
				<td>VALUE(INTEGER)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-hours.html">Hours</a></td>
				<td>VALUE1(INTEGER), VALUE2(INTEGER)</td>
				<td>VALUE(INTEGER)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-days.html">Days</a></td>
				<td>VALUE1(INTEGER), VALUE2(INTEGER)</td>
				<td>VALUE(INTEGER)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-formattime.html">FormatTime</a></td>
				<td>VALUE1(INTEGER), VALUE2(STRING)</td>
				<td>VALUE(STRING)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-objecthasname.html">ObjectHasName</a></td>
				<td>OBJECT, VALUE(STRING)</td>
				<td>VALUE(BOOLEAN)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-objecthastag.html">ObjectHasTag</a></td>
				<td>OBJECT, VALUE(STRING)</td>
				<td>VALUE(BOOLEAN)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-addobjectname.html">AddObjectName</a></td>
				<td>OBJECT, VALUE(STRING)</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-addobjecttag.html">AddObjectTag</a></td>
				<td>OBJECT, VALUE(STRING)</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-addobjecttagtoallin.html">AddObjectTagToAllIn</a></td>
				<td>OBJECT-CONTAINER, VALUE(STRING)</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-removeobjectname.html">RemoveObjectName</a></td>
				<td>OBJECT, VALUE(STRING)</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-removeobjecttag.html">RemoveObjectTag</a></td>
				<td>OBJECT, VALUE(STRING)</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-removeobjecttagfromallin.html">RemoveObjectTagFromAllIn</a></td>
				<td>OBJECT-CONTAINER, VALUE(STRING)</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-giveobject.html">GiveObject</a></td>
				<td>OBJECT-CONTAINER, OBJECT</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-removeobject.html">RemoveObject</a></td>
				<td>OBJECT</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-removeobjectswithtag.html">MoveObjectsWithTag</a></td>
				<td>OBJECT-CONTAINER1, OBJECT-CONTAINER2, VALUE(STRING)</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-objectcount.html">ObjectCount</a></td>
				<td>OBJECT-CONTAINER</td>
				<td>VALUE(INTEGER)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-hasobject.html">HasObject</a></td>
				<td>OBJECT-CONTAINER, OBJECT</td>
				<td>VALUE(BOOLEAN)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-objecthasnoowner.html">ObjectHasNoOwner</a></td>
				<td>OBJECT</td>
				<td>VALUE(BOOLEAN)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-playerisinroom.html">PlayerIsInRoom</a></td>
				<td>PLAYER, ROOM</td>
				<td>VALUE(BOOLEAN)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-playercanaccessobject.html">PlayerCanAccessObject</a></td>
				<td>PLAYER, OBJECT</td>
				<td>VALUE(BOOLEAN)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-browse.html">Browse</a></td>
				<td>OBJECT-CONTAINER</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-browsetagged.html">BrowseTagged</a></td>
				<td>OBJECT-CONTAINER, VALUE(STRING)</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-setplayer.html">SetPlayer</a></td>
				<td>PLAYER</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-setroom.html">SetRoom</a></td>
				<td>PLAYER, ROOM</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-pushroom.html">PushRoom</a></td>
				<td>PLAYER, ROOM</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-poproom.html">PopRoom</a></td>
				<td>PLAYER, ROOM</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-swaproom.html">SwapRoom</a></td>
				<td>PLAYER, ROOM</td>
				<td>Nothing</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-currentplayeris.html">CurrentPlayerIs</a></td>
				<td>PLAYER</td>
				<td>VALUE(BOOLEAN)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-currentplayeris.html">NoCurrentPlayer</a></td>
				<td>None</td>
				<td>VALUE(BOOLEAN)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-currentroomis.html">CurrentRoomIs</a></td>
				<td>ROOM</td>
				<td>VALUE(BOOLEAN)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-currentplayeris.html">NoCurrentRoom</a></td>
				<td>None</td>
				<td>VALUE(BOOLEAN)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-identity.html">Identity</a></td>
				<td>ELEMENT</td>
				<td>VALUE(STRING)</td>
				<td>[[BUH]]</td>
			</tr>
			<tr>
				<td><a href="command-identity.html">Header</a></td>
				<td>VALUE(STRING)</td>
				<td>VALUE(STRING)</td>
				<td>[[BUH]]</td>
			</tr>
		</tbody>
	</table>
</div>

