<div class="w3-container" style="margin-top: 2em;">
	<p>
		A <strong>module</strong> in TAME is comprised of <em>elements</em>. Each element has a conceptual purpose. How
		these elements are defined determine how they are interacted with and what happens when users interact with it.
	</p>
	<p>
		Modules hold the entirety of a game's world: its <strong>Objects</strong>, 
		<strong>Rooms</strong>, <strong>Player</strong> Viewpoints, abstract <strong>Containers</strong>,
		and the <strong>World</strong> itself. All of these elements hold a context and a set of variable values.
	</p>
	<p>
		Modules also hold <strong>Actions</strong>, which determine the means that a user interacts with objects
		and the world.
	</p>
</div>

<!------------------------------------------------------------------------------->

<div id="objects" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#objects"><i class="link-stub fa fa-link"></i></a> 3.1 Objects <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container">
	<!--[ include fragments/module-object.html ]-->
</div>

<!------------------------------------------------------------------------------->

<div id="world" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#world"><i class="link-stub fa fa-link"></i></a> 3.2 World <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container">
	<!--[ include fragments/module-world.html ]-->
</div>

<!------------------------------------------------------------------------------->

<div id="players" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#players"><i class="link-stub fa fa-link"></i></a> 3.3 Players <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container">
	<!--[ include fragments/module-player.html ]-->
</div>

<!------------------------------------------------------------------------------->

<div id="rooms" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#rooms"><i class="link-stub fa fa-link"></i></a> 3.4 Rooms <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container">
	<!--[ include fragments/module-room.html ]-->
</div>

<!------------------------------------------------------------------------------->

<div id="containers" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#containers"><i class="link-stub fa fa-link"></i></a> 3.5 Containers <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container">
	<!--[ include fragments/module-container.html ]-->
</div>

<!------------------------------------------------------------------------------->

<div id="actions" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#actions"><i class="link-stub fa fa-link"></i></a> 3.6 Actions <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container">
	<p>
		The way that the user is able to make stuff happen is through <strong>Actions</strong>. Each
		action has a set of names, and there are different types of actions that influence how they get
		interpreted or how a command is expected to be completed.
	</p>
	<p>
		There are 5 action types: <strong>General</strong>, <strong>Transitive</strong>, <strong>Ditransitive</strong>, 
		<strong>Modal</strong>, and <strong>Open</strong>.
	</p>	
	<h3 class="section-header">General</h3>
	<!--[ include fragments/module-action-general.html ]-->
	<h3 class="section-header">Transitive</h3>
	<!--[ include fragments/module-action-transitive.html ]-->
	<h3 class="section-header">Ditransitive</h3>
	<!--[ include fragments/module-action-ditransitive.html ]-->
	<h3 class="section-header">Modal</h3>
	<!--[ include fragments/module-action-modal.html ]-->
	<h3 class="section-header">Open</h3>
	<!--[ include fragments/module-action-open.html ]-->
</div>

<!--[ set prev_page systems.html ]-->
<!--[ set next_page interpreter.html ]-->
<!--[ include fragments/page-nav-footer.html ]-->
