<div class="w3-container" style="margin-top: 2em;">
	<p>
		Returns the result of the logical "and" between two values. The values
		are evaluated as though they were <strong>boolean</strong> values.
		Resultant value type is always <strong>boolean</strong>.
	</p>
	<p>
		The difference between this operator and <a href="operators-and.html">logical and</a> is that this
		will stop evaluation of the rest of the expression if this evaluates as <kbd>false</kbd>.
	</p>
</div>
<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Short-Circuit And Example" module_ssand_example examples/operators-ssand.tame ]-->
</div>
