<div class="w3-container" style="margin-top: 2em;">
	<p>
		Returns the result of testing if a value is comparatively less than or equal to the other. Type does not make a difference -
		the values are compared as though they are strings if either is a string, otherwise they are compared by their double-equivalent type.
		Comparing to <kbd>NaN</kbd> or <kbd>NaN</kbd>-equivalents is always <kbd>false</kbd>. <strong>Lists</strong> cannot be compared.
		Resultant value type is always <strong>boolean</strong>.
	</p>
</div>
<div class="w3-container" style="margin-top: 2em;">
	<!--[ generate-table LESS_OR_EQUAL ]-->
</div>
