<div class="w3-container" style="margin-top: 2em;">
	<p>
		Returns the result of testing if two values are NOT semantically equivalent. The values
		are evaluated as though they were their highest-promoted value (e.g. if an integer is compared with a string, they are both
		compared as through they were comverted to strings). <strong>Lists</strong> cannot be compared.
		Resultant value type is always <strong>boolean</strong>.
	</p>
</div>
<div class="w3-container" style="margin-top: 2em;">
	<!--[ generate-table NOT_EQUALS ]-->
</div>
