<div class="w3-container" style="margin-top: 2em;">
	<p>
		Evaluates an expression and returns the first expression if it evaluates to true 
		(or is <a href="function-asboolean.html#true-equivalent">true-equivalent</a>), or the 
		second expression if it evaluates to false. Resultant value type depends on the expression 
		evaluated after the test expression.
	</p>
	<p>
		This does not evaluate both potential results - either the first expression is evaluated or the second.
	</p>
</div>
<div class="w3-panel w3-light-gray w3-card-2">
	<h3>Example</h3>
</div>
<div class="w3-container">
<!--[ tamescript "Ternary Example" module_tern_example examples/operators-ternary.tscript ]-->
</div>
