<div class="w3-container" style="margin-top: 2em;">
	<p>
		The following operators are used in <em>expressions</em> in TAMEScript to calculate values.
		They also have a set precedence outlined in a table at the end of this page.
	</p>
	<p>
		Some operators requires only one operand (unary), and others require two (binary), and one is
		used as an if-else branch.
	</p>
</div>
<div class="w3-container" style="margin-top: 0.5em;">
	<h3>Unary Operators</h3>
	<table class="w3-table w3-striped w3-hoverable w3-border">
		<thead>
			<tr>
				<th>Operator</th><th>Symbol</th>
			</tr>
		</thead>
		<tbody>
			<tr><td><a href="operators-negate.html">Negate</a></td><td>-</td></tr>			
			<tr><td><a href="operators-logicalnot.html">Logical Not</a></td><td>!</td></tr>			
			<tr><td><a href="operators-absolute.html">Absolute</a></td><td>+</td></tr>			
		</tbody>
	</table>
	<h3>Binary Operators</h3>
	<table class="w3-table w3-striped w3-hoverable w3-border">
		<thead>
			<tr>
				<th>Operator</th><th>Symbol</th>
			</tr>
		</thead>
		<tbody>
			<tr><td><a href="operators-addition.html">Add</a></td><td>+</td></tr>
			<tr><td><a href="operators-subtraction.html">Subtract</a></td><td>-</td></tr>
			<tr><td><a href="operators-multiplication.html">Multiply</a></td><td>*</td></tr>
			<tr><td><a href="operators-division.html">Divide</a></td><td>/</td></tr>
			<tr><td><a href="operators-modulo.html">Modulo Divide</a></td><td>%</td></tr>
			<tr><td><a href="operators-power.html">Power</a></td><td>**</td></tr>
			<tr><td><a href="operators-and.html">And</a></td><td>&amp;</td></tr>
			<tr><td><a href="operators-or.html">Or</a></td><td>|</td></tr>
			<tr><td><a href="operators-xor.html">XOr</a></td><td>^</td></tr>
			<tr><td><a href="operators-equals.html">Equals</a></td><td>==</td></tr>
			<tr><td><a href="operators-notequals.html">Not Equals</a></td><td>!==</td></tr>
			<tr><td><a href="operators-strictequals.html">Strict Equals</a></td><td>===</td></tr>
			<tr><td><a href="operators-strictnotequals.html">Strict Not Equals</a></td><td>!==</td></tr>
			<tr><td><a href="operators-less.html">Less</a></td><td>&lt;</td></tr>
			<tr><td><a href="operators-lessequal.html">Less Equal</a></td><td>&lt;=</td></tr>
			<tr><td><a href="operators-greater.html">Greater</a></td><td>&gt;</td></tr>
			<tr><td><a href="operators-greaterequal.html">Greater Equal</a></td><td>&gt;=</td></tr>
		</tbody>
	</table>
	<h3>Binary Operators (Logical)</h3>
	<table class="w3-table w3-striped w3-hoverable w3-border">
		<thead>
			<tr>
				<th>Operator</th><th>Symbol</th>
			</tr>
		</thead>
		<tbody>
			<tr><td><a href="operators-ssand.html">Short-Circuit And</a></td><td>&amp;&amp;</td></tr>
			<tr><td><a href="operators-ssor.html">Short-Circuit Or</a></td><td>||</td></tr>
		</tbody>
	</table>
	<h3>Ternary Operators</h3>
	<table class="w3-table w3-striped w3-hoverable w3-border">
		<thead>
			<tr>
				<th>Operator</th><th>Symbol</th>
			</tr>
		</thead>
		<tbody>
			<tr><td><a href="operators-ternary.html">Ternary Operator</a></td><td>? :</td></tr>
		</tbody>
	</table>
</div>
<div class="w3-container" style="margin-top: 1em;">
	<h3 id="precedence">Operator Precedence</h3>
	<p>
		Operators have a built-in precedence when used without parenthesis to affect order of operations. From <strong>highest to lowest</strong>,
		this is the precedence for all of TAME's operators (same line has equal precedence).
	</p>
	<table class="w3-table w3-striped w3-hoverable w3-border">
		<tbody>
			<tr><td>( )</td></tr>
			<tr><td>(unary operators) - ! +</td></tr>
			<tr><td>**</td></tr>
			<tr><td>* / %</td></tr>
			<tr><td>+ -</td></tr>
			<tr><td>&lt; &lt;= &gt; &gt;=</td></tr>
			<tr><td>== != === !==</td></tr>
			<tr><td>&amp;</td></tr>
			<tr><td>^</td></tr>
			<tr><td>|</td></tr>
			<tr><td>&amp;&amp;</td></tr>
			<tr><td>||</td></tr>
			<tr><td>(ternary operator) ? :</td></tr>
		</tbody>
	</table>
	<p>
		It is also worth noting that the <em>power</em> operator (<kbd>**</kbd>) is right-associative - the right side is evaluated first,
		if more power operators are used successively (e.g. <kbd>6 ** 3 ** 2</kbd>: <kbd>3 ** 2</kbd> is evaluated first).
	</p>
</div>