<div class="w3-container" style="margin-top: 2em;">
	<p>
		<strong>TAMEScript</strong> is the language that all TAME modules are written in. Through TAMEScript,
		the world, its elements, the viewpoints, the actions the user can take, and how things interact based
		on user input are all defined.
	</p>
	<p>
		Take, for example, the "small adventure" in the tutorial pages at the beginning of the documentation:
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "A Small Adventure" module_intro_adventure_small adventure-small.tame ]-->
</div>
<div class="w3-container" style="margin-top: 2em;">
	<p>
		The <a href="language-element-module.html">module header</a> is first declared, which describes this module
		using a series of key-value pairs - its title, author, and basic contact information. The header may also
		describe certain behavior-changing characteristics for the module, but this example doesn't declare any.
	</p>
	<p>
		Next, the basic <a href="language-element-action.html">actions</a> are declared. These are the means of interaction
		between the user and the module, declaring the words that are tied to each action, as well as other linguistic 
		constructs to complete commands.
	</p>
	<p>
		Then, a series of other <a href="language-elements.html">elements</a> are declared which define the 
		world and the things in them. Each element is a little different in how they are described or declared,
		but most of them are similar in structure.
	</p>
	<p>
		Each of those elements contain <a href="language-blocks.html">blocks</a>, which are entry points for executing
		logic, and the blocks are made up of <strong>statements</strong> and <a href="language-commands.html">commands</a> that
		manipulate the context and return information.
	</p>
</div>

<!-- ============================== -->
<!-- ====== Comments Section ====== -->
<!-- ============================== -->
<div id="comments" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#comments"><i class="link-stub fa fa-link"></i></a> 5.1. Comments <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	<em>Comments</em> are skipped by the compiler and are used to elucidate sections of code that may be cryptic, or provide notes 
	for sections of code. Comments can be on a single line, or across multiple lines, but there are different delimiters for each.
<pre class="tame-example"><code data-language="tamescript">
	// This is a single-line comment.
	/*
		This is a multi
		line comment.
	*/
	/* You can even write them like this. */
</code></pre>
	Comments are useful for explaining sections of code or make markers around important parts. Of course, be careful
	to not over-use them, like this example:
</div>
<div class="w3-container">
<!--[ tamescript "Comment Example" module_tamescript_comments examples/comments.tame ]-->
</div>

<!-- ============================================ -->
<!-- ====== Values and Expressions Section ====== -->
<!-- ============================================ -->
<div id="values" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#values"><i class="link-stub fa fa-link"></i></a> 5.2. Values and Expressions <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	<p>
		In order to get anything done in a TAME module, you'll probably be crafting <em>expressions</em> that change and 
		manipulate <em>values</em>.
	</p>
	<h3>Values</h3>
	<p>
		Values in TAME are represented in several ways.
	</p>
	<p>
		Booleans:
	</p>
<pre class="tame-example"><code data-language="tamescript">
	true
	false
</code></pre>
	<p>
		Integers:
	</p>
<pre class="tame-example"><code data-language="tamescript">
	5
	77
	3679
	20000
</code></pre>
	<p>	
		Hexadecimal Integers (integer-typed):
	</p>
<pre class="tame-example"><code data-language="tamescript">
	0x0
	0x0ff
	0x0343
	0xc452
</code></pre>
	<p>
		Floating-point ("floats"):
	</p>
<pre class="tame-example"><code data-language="tamescript">
	3.4
	2.0
	0.08
	3456.1234
</code></pre>
	<p>
		Exponented Floating-point (float-typed):
	</p>
<pre class="tame-example"><code data-language="tamescript">
	2e4
	1.53e-3
</code></pre>
	<p>
		Strings:
	</p>
<pre class="tame-example"><code data-language="tamescript">
	"apple"
	"pear"
	"Buzz Aldrin"
</code></pre>
	<p>
		And some <em>abstract values</em> (these are technically floating-point, internally):
	</p>
<pre class="tame-example"><code data-language="tamescript">
	NaN
	Infinity
</code></pre>
	<h3>More About Strings</h3>
	<p>
		Literal strings (that is, values that are a set of characters bounded in double-quotes) are a little special - 
		they may contain things called <em>"escape characters"</em> that allow you to put characters into them that
		you would not ordinarily be able to add via your keyboard. An escape character starts with a backslash (<kbd>\</kbd>) followed
		by a set of characters that define the output character. This is especially handy for adding double-quotes (since that would
		make TAME's compiler think a string was being started or terminated). The TAMEScript compiler recognizes most C-like escape characters,
		such as:
	</p>
	<table class="w3-table w3-striped w3-hoverable w3-border">
		<thead class="w3-teal">
			<tr>
				<th>Escape sequence</th>
				<th>Output</th>
			</tr>
		</thead>
		<tbody>
			<tr><td>&#92;0</td><td>NULL character (UTF-16 0x0000)</td></tr>
			<tr><td>&#92;b</td><td>Backspace</td></tr>
			<tr><td>&#92;t</td><td>Tab</td></tr>
			<tr><td>&#92;n</td><td>Newline</td></tr>
			<tr><td>&#92;f</td><td>Form feed</td></tr>
			<tr><td>&#92;r</td><td>Carriage Return</td></tr>
			<tr><td>&#92;/</td><td>Forward slash</td></tr>
			<tr><td>&#92;&quot;</td><td>Double quote</td></tr>
			<tr><td>&#92;&#92;</td><td>Backslash</td></tr>
			<tr><td>&#92;&#39;</td><td>Single quote</td></tr>
			<tr><td>&#92;u<em>hhhh</em></td><td>UTF-16 character (where <em>hhhh</em> is 4 hex digits)</td></tr>
			<tr><td>&#92;x<em>hh</em></td><td>ASCII character (where <em>hh</em> is 2 hex digits)</td></tr>
		</tbody>
	</table>
	<h3 id="identifiers">Identifiers</h3>
	<p>
		An <em>identifier</em> is a word or set of characters that describe the name of something (elements, variables, functions, etc.).
		Identifiers are alphanumeric (<kbd>0-9, A-Z, a-z</kbd>) plus the underscore character (<kbd>_</kbd>), but must NOT start with a number.
	</p>
	<p>
		It is also important to note that identifiers are also <strong>case-insensitive!</strong> They also cannot share names with reserved keywords.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	x
	abcd
	DATA
	Parameter1
	this_is_an_identifier
</code></pre>
	<p>
		These are some examples of illegal identifiers:
	</p>
<pre class="tame-example"><code data-language="tamescript">
	0point		// starts with a number - parses as "bad number"
	return		// keyword
	not-good	// two identifiers with a dash delimiter between them
	Mr.Person	// two identifiers with a dot delimiter between them
</code></pre>
	<h3 id="expressions">Expressions</h3>
	<p>
		Expressions are a means of combining values and operators in order to convey more complex values.
		These are evaluated at execution time.
	</p>
	<p>
		The values in expressions can be combined or manipulated using several <a href="operators.html">operators</a>.
	</p>
	<p>
		<strong>Caution:</strong> Values of one type can be <em>promoted</em> implicitly to another type 
		during evaluation, i.e. 5 will be promoted to a float (5.0) if combined with one (<kbd>5 + 6.0</kbd>, 
		yields <kbd>11.0</kbd>, <kbd>3 + "apple"</kbd> yields <kbd>"3apple"</kbd>).
	</p>
	<p>
		Some examples of expressions:
	</p>
<pre class="tame-example"><code data-language="tamescript">
	5 + 2
	3.0 - 5.5
	4 * 2.9
	2.0 / 3.0
	!5
	-3.77
	true | false
	"apple" + "sauce"
	"ice" + 9
	4 + 5 * 7.0
</code></pre>
	<p>
		Expressions can consist of multiple values and operators, as well as commands and functions that return values:
	</p>
<pre class="tame-example"><code data-language="tamescript">
	4 + min(0, 8)
	floor(5.7) / 9.0
	5 + 6 + 9 * 6
</code></pre>
	<p>
		Expressions with more than one operator in them may be affected by <a href="operators.html#precedence">operator precedence</a>. Without additional
		delimiters like parenthesis, expressions are evaluated as though they were normal math.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	3 + 4 * 6 		// 27. "*" has higher precedence than "+".
	3 * 4 + 6 		// 18. "*" has higher precedence than "+".
</code></pre>
	<p>
		In order to affect ordering, you can use parenthesis to delimit sub-expressions.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	3 * 4 + 6 		// 18. "*" has higher precedence than "+".
	3 * (4 + 6) 	// 30. "4 + 6" is evaluated first, then "3 * 10".
</code></pre>
</div>

<!-- ================================ -->
<!-- ====== Statements Section ====== -->
<!-- ================================ -->
<div id="statements" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#statements"><i class="link-stub fa fa-link"></i></a> 5.3. Statements and Commands <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	<p>
		Expressions are nice, but without any real directives, TAME would just be doing math! Enter <em>statements</em>. A statement is a single bit of code
		that conveys a single step or task. All statements are terminated by semicolons (<kbd>;</kbd>). 
	</p>
	<h3>Assignments and Variables</h3>
	<p>
		The first type of statement is an <em>assignment</em>. Assignments define <em>variables</em> and their new values. A variable is stored at the 
		<em>current context</em> level, and stores only one value.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = 1 + 2;		// assigns "a" the value 3.
	b = 7.5 * 2;	// assigns "b" the value 15.0.
</code></pre>
	<p>
		Variables can be used in expressions. Variables that are in expressions but have not been set to anything are <kbd>false</kbd>.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = 1 + 2;		// assigns "a" the value 3.
	b = a + 5;		// assigns "b" the value 8.
	c = x;			// variable "x" does not refer to a value - assigns "c" the value false.
</code></pre>
	<p>
		Variables are also case-insensitive.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	val = 1 + 2;	// assigns ""val" the value 3.
	b = VAL + 5;	// assigns "b" the value 8 ("val" and "VAL" resolve to the same value).
	B = 9;			// assigns "B" the value 9 (overwrites "b" - "b" and "B" resolve to the same value).
</code></pre>
	<p>
		By default, all variables are stored on the current context. If you want to assign a value to a variable that is <em>not</em> stored
		on the context, declare it <kbd>local</kbd>. Each assignment of that variable is still not stored.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	local x = 5;	// assigns "x" the value 5, but not persisted in the context.
	textln(x);		// adds a "text" cue: "5\n"
	x = 3;
	textln(x);		// adds a "text" cue: "3\n"
</code></pre>
	<p>
		Local declarations don't need an assignment - just declaring it initializes it to <kbd>false</kbd>. 
	</p>
<pre class="tame-example"><code data-language="tamescript">
	local x;		// assigns "x" the value false, but not persisted in the context.
	textln(x);		// adds a "text" cue: "false\n"
	x = 3;
	textln(x);		// adds a "text" cue: "3\n"
</code></pre>
	<p>
		You can remove a variable's assignment entirely using the <kbd>clear</kbd> keyword - the next use of that variable
		will be treated as though nothing was stored in it, or that it didn't even exist!
	</p>
<pre class="tame-example"><code data-language="tamescript">
	x = 5;			// assigns "x" the value 5.
	textln(x);		// adds a "text" cue: "5\n"
	clear x;
	textln(x);		// adds a "text" cue: "false\n"
</code></pre>
	<p>
		It is possible to mix <strong>local</strong> and variables persisted on the context with the same name, but this is not advisable. 
		TAME gives local variable values precedence, but will fall back to the persisted value if it is cleared. 
	</p>
<pre class="tame-example"><code data-language="tamescript">
	x = 5;			// assigns "x" the value 5.
	local x = 7;	// assigns "x" the value 7.
	textln(x);		// adds a "text" cue: "7\n"
	clear x;		// clear local x
	textln(x);		// adds a "text" cue: "5\n"
	clear x;		// clear x (persisted)
	textln(x);		// adds a "text" cue: "false\n"
</code></pre>
	<p>
		Variables can be referred to on other elements, and can be read or written to in the same way. To reference a variable
		on another element, you specify the identifier of the element, then a dot (<kbd>.</kbd>), then the variable name.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	x			// this context's x
	o_ball.x	// o_ball's x
</code></pre>
	<h3>Commands and Functions</h3>
	<p>
		<em>Commands</em> and <em>functions</em> can also be invoked in a statement, including commands that return something.
		To invoke a command or function, you type the name of the function plus a list of <em>parameters</em> to pass to
		it enclosed in parenthesis, each parameter separated by a comma.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	fix(5.6, 0);				// rounds 5.6 to the nearest whole number and returns it, but does nothing with it.
	textln("Hello, world!");	// adds a "text" cue to the response with "Hello, world!\n" as its content. 
	floor(5.6);					// Calculates the floor of 5.6 and returns it, but does nothing with it. 
</code></pre>
	<p>
		Each of the <em>parameters</em> in a function or a command (that accepts values) are expressions. 
		They can be either single values or complex expressions that evaluate to a value. 
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = 5;									// assigns "a" the value 5.
	textln("The value of \"a\" is " + a);	// adds a "text" cue: "The value of \"a\" is 5".
	b = floor(10.5 * 6.7) / 3.0;			// calculate a bunch of things and store it in "b".
</code></pre>
</div>

<div id="lists" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#lists"><i class="link-stub fa fa-link"></i></a> 5.4. Lists <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	<p>
		TAME has a list data structure for storing a contiguous set of values. A new list is declared by
		putting a list of comma-delimited values or expressions in between square brackets (<kbd>[ ]</kbd>).
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = [1, 2, 3, 4, 5];	// assigns a new list of 5 values to "a".
	b = [];					// assigns a new empty list to "b".
</code></pre>
	<p>
		Lists in TAME can contain different types of values in one list, including other lists!
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = [1, "two", 3.0, false, [1, 2, 3]];	// assigns a new list of 5 values to "a".
</code></pre>
	<p>
		Getting the value in a list entails writing the identifier assigned to a list, then the
		index of the desired value in brackets (zero-based - 0 is the first index). If the identifier does not refer to
		a list, or the index is not a valid index, <strong>false</strong> is returned. The index is read as an integer,
		so the index can be an expression that results in a value.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = [100, 200, 300, 400, 500];	// assigns a new list of 5 values to "a".
	b = a[0];						// assigns 100 to "b".
	c = a[3];						// assigns 300 to "c".
	d = a[9];						// assigns false to "d".
</code></pre>
	<p>
		Setting the value in a list entails assigning that identifier and bracketed index to a value, like any other
		variable. If the identifier is not a list, nothing happens. 
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = [0, 0, 0, 0, 0];		// assigns a new list of 5 values to "a".
	a[0] = 3;					// list is now [3, 0, 0, 0, 0]
	a[2] = 5;					// list is now [3, 0, 5, 0, 0]
	a[a[0]] = 4;				// list is now [3, 0, 5, 4, 0]
	a[-1] = 5;					// list is now [3, 0, 5, 4, 0] (not changed)
	a[1] = ["apple", "banana"];	// list is now [3, ["apple", "banana"], 5, 4, 0]
</code></pre>
	<p>
		There are also a lot of <a href="language-commands.html#list-operations">commands</a> associated with list manipulation. 
	</p>
	<p>
		Since lists can contain other lists, they can be accessed using a second index after resolving the first (this can
		be many lists deep beyond just two).
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = [[1, 2], [9, 10], ["orange", "pear", "peach"]], 16, 17];	// assigns a new list of 5 values to "a".
	b = a[0]					// assigns "b" a reference to the list [1,2]
	c = a[1][0];				// assigns 9 to "b"
	d = a[3][0];				// a[3] is not a list - assigns false to d
</code></pre>
	<h3 id="references" style="margin-top:1.5em;">Lists and References</h3>
	<p>
		Lists are a little special. Whereas most values are treated as single, quantifiable values that can be converted
		and changed to other types, a list is a collection of values, and are maintained by a <em>reference</em>. This means
		that when a list is assigned to another variable, the <em>reference</em> to that list is assigned. The list's values
		are not copied, like what happens to a regular value.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = [1, 2, 3, 4, 5];	// creates a new list with values, and assigns its reference to "a".
	b = a;					// assign the reference to "a" to "b"
</code></pre>
	<p>
		In the above example, both <kbd>a</kbd> and <kbd>b</kbd> point to the <em>exact same list</em>. If the contents of
		the list changes, it'll be reflected in both variables.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = [1, 2, 3, 4, 5];	// creates a new list with values, and assigns its reference to "a".
	b = a;					// assign the reference to "a" to "b"
	b[0] = 7;				// index 0 of the list referenced by "b" is now 7.
	c = a[0];				// assign 7 to "c".
</code></pre>
	<p>
		Equality among lists is not deep. If you test if one list is equal to another, it compares
		the <em>reference,</em> not the values inside.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	a = [1, 2, 3, 4, 5];	// creates a new list with values, and assigns its reference to "a".
	b = a;					// assign the reference to "a" to "b"
	c = [1, 2, 3, 4, 5];	// creates a new list with values, and assigns its reference to "c".
	
	a == b					// this is true
	a == c					// this is false (different reference)
</code></pre>
	<p>
		You will need to write a function if you need to compare the contents of two lists.
	</p>
</div>

<div id="blocks" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#blocks"><i class="link-stub fa fa-link"></i></a> 5.5. Blocks <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	<p>
		A series of statements are encapsulated in <em>blocks</em>. Blocks define sections of significant code,
		usually defining the conditions for when they get executed in TAME.
	</p>
	<p>
		For example, in the following module, there are a series of blocks that get called in different situations.
		Read up on <a href="language-blocks.html">all of the available blocks</a> to get an understanding of
		how and when they can be called!
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Block Example" module_tamescript_blocks examples/blocks.tame ]-->
</div>
<div class="w3-container">
	<p>
		Blocks are called due to events or actions initiated by a user - you cannot invoke them directly.
	</p>
	<p>
		You can explicitly see how and when blocks get called in TAME if you run the module with
		<strong>tracing</strong> enabled (but this is just for debugging - tracing adds lots of
		cues to the response!).
	</p>
</div>

<!-- =============================== -->
<!-- ====== Functions Section ====== -->
<!-- =============================== -->
<div id="functions" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#functions"><i class="link-stub fa fa-link"></i></a> 5.6. Functions <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	<p>
		<em>Function</em> blocks are essentially "commands" that you define yourself and called in other code. Functions consist of a series of commands executed in order, and return a
		value at the end to the caller. They are referenced by name, and called the same way commands are, for the most part.   
	</p>
	<p>
		The basic anatomy of a function is as follows:
	</p>
<pre class="tame-example"><code data-language="tamescript">
	function name (parameter1, parameter2, ...)
	{
		// ... code goes here ...
		return 1;		// optional return
	} 
</code></pre>
	<p>
		All functions start with the <kbd>function</kbd> keyword, then an identifier for the <strong>name</strong>, then
		a comma-separated series of identifiers representing the values that were passed to it to be used in the body of the function.
	</p>
	<p>
		All parameters in a function are considered <em>local</em> in the function body.
	</p>
	<p>
		The <strong>return</strong> keyword terminates a function and returns the value of the expression after it.
	</p>
<pre class="tame-example"><code data-language="tamescript">
	function one()
	{
		return 1;
	} 

	function double(x)
	{
		return x * 2;
	} 

	function diceRoll(n)
	{
		local i = irandom(n) + 1; 
		return i;
	}
	
	function printThings(a, b, c)
	{
		textln(a);
		textln(b);
		textln(c);
	} 
</code></pre>
	<p>
		Functions, unlike commands, always return a value, so if the end of a function is reached without hitting a <kbd>return</kbd>,
		<kbd>false</kbd> is returned. 
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Function Example" module_func_example examples/functions.tame ]-->
</div>
<div class="w3-container" style="margin-top: 2em;">
	<p>
		Functions can be called from the element they are declared on, or from another element, but variables that are not 
		declared <em>local</em> will be set on the context that the function was called from, except
		if they belong to another element - it will then be set from the aspect of the originating element of the call.
	</p>
	<p>
		To call another element's function, you specify the identifier of the element, then a dot (<kbd>.</kbd>), then the function call.
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Function Example 2" module_func2_example examples/functions2.tame ]-->
</div>
<div class="w3-container" style="margin-top: 2em;">
	<p>
		TAMEScript also supports <em>recursive functions</em>. A recursive function is a function that calls
		itself. This could be handy for mathematical functions that define their values using themselves, or
		other such scenarios that would be useful.
	</p>
	<p>
		Be warned though - TAME does not allow you to recurse to deeply in order to keep memory use down.
		By default, this is a depth of <kbd>256</kbd>, but this can be overridden in 
		<a href="language-element-module.html#special">module headers</a>.
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Recursive Function Example" module_recfunc_example examples/function-recursive.tame ]-->
</div>

<!-- ============================= -->
<!-- ====== Control Section ====== -->
<!-- ============================= -->
<div id="control" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#control"><i class="link-stub fa fa-link"></i></a> 5.7. Control Statements <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	<p>
		A <em>control statement</em> is a type of statement that affects the flow of script execution, which is a
		fancy way of saying <em>if/else branches</em>, <em>loops</em>, or <em>breaks and interrupts</em>.
	</p>
	<h3 id="if-else">If / Else</h3>
	<p>
		An <strong>if</strong> statement represents a branch in logic - if the expression in the parenthesis evaluates 
		to <kbd>true</kbd> or something "true-equivalent," the subsequent block (delimited by curly braces) is executed.
	</p>
<pre class="tame-example"><code data-language="tamescript">
    if (x == 4)
    {
        textln("x is 4!");
    }
</code></pre>
	<p>
		If an <strong>if</strong> statement is followed by an <strong>else</strong> block, that block will be executed instead,
		if the expression is NOT true.
	</p>
<pre class="tame-example"><code data-language="tamescript">
    if (x == 4)
    {
        textln("x is 4!");
    }
    else
    {
        textln("x is not 4!");
    }
</code></pre>
	<p>
		A block of after an "if" or "else" can have the braces omitted if it is just one statement.
	</p>
<pre class="tame-example"><code data-language="tamescript">
    if (x == 4)
        textln("x is 4!");
    else
        textln("x is not 4!");
</code></pre>
	<p>
		For this reason, you can chain together if-elses...
	</p>
<pre class="tame-example"><code data-language="tamescript">
    if (x == 4)
    {
        textln("x is 4!");
    }
    else if (x == 5)
    {
        textln("x is 5!");
    }
    else
    {
        textln("x is neither 4 nor 5!");
    }
</code></pre>
	<p>
		...since this is equivalent:
	</p>
<pre class="tame-example"><code data-language="tamescript">
    if (x == 4)
    {
        textln("x is 4!");
    }
    else 
    {
        if (x == 5)
        {
            textln("x is 5!");
        }
        else
        {
            textln("x is neither 4 nor 5!");
        }
    }
</code></pre>
	<h3 id="while-loop">While Loops</h3>
	<p>
		A <strong>while</strong> loop executes a following block of statements as long as the expression in the 
		parenthesis is still <kbd>true</kbd> or true-equivalent when the block completes.
	</p>
<pre class="tame-example"><code data-language="tamescript">
    local x = 5;
    // This code will loop 5 times.
    while (x > 0)
    {
        textln("x is " + x);
        x = x - 1;
    }
</code></pre>
	<h3 id="for-loop">For Loops</h3>
	<p>
		A <strong>for</strong> loop executes the following block of statements as long as the 
		conditional expression is still <kbd>true</kbd> when the block completes.
	</p>
	<p>
		<strong>For</strong> loops have an <em>initializer</em>, <em>conditional</em>, and <em>step</em> part enclosed in parenthesis that 
		drives the loop. Each of these parts are separated by a semicolon (<kbd>;</kbd>), except for the last part.
	</p>
<pre class="tame-example"><code data-language="tamescript">
    // This code will loop 10 times.
    for (x = 0; x &lt; 10; x = x + 1)
    {
        textln("x is " + x);
    }
</code></pre>
	<p>
		Each part can be left out of a <strong>for</strong> loop, except for the conditional. The previous loop can be rewritten as:
	</p>
<pre class="tame-example"><code data-language="tamescript">
    x = 0;
    for (; x &lt; 10;)
    {
        textln("x is " + x);
        x = x + 1;
    }
</code></pre>
	<p>
		NOTE: As with any looping construct, there is always the risk of writing a loop that will never finish, creating an
		<em>infinite loop</em>. TAME has a soft safeguard against this, where if it detects that a certain threshold of 
		commands are executed, it will terminate with a <kbd>FATAL</kbd> error (default threshold is <kbd>100000</kbd> commands).
		This can be overridden in <a href="language-element-module.html#special">module headers</a>.
	</p>
	<h3 id="quit-keyword">Quit</h3>
	<p>
		Control keywords, like <strong>quit</strong>, are not commands or functions. They do not have parameters.
		You've seen it all throughout the examples in the documentation - <strong>quit</strong> stops
		processing of the module and adds a "quit" cue to the response, telling the client to stop accepting
		input and stopping user interaction (and clearing the module state as well).
	</p>
	<p>
		There are no limits or rules as to where <strong>quit</strong> can be called, but to save you plenty of headaches, 
		you should probably use it in one spot, which is when a user wants to end the module.
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Quit Example" module_quit_example examples/quit.tame ]-->
</div>
<div class="w3-container">
	<h3 id="finish-keyword">Finish</h3>
	<p>
		The control keyword <strong>finish</strong> ends the currently-executing action (but continues processing queued actions). 
		Like <em>quit</em>, there are no limits or rules as to where it can be used.
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Finish Example" module_finish_example examples/finish.tame ]-->
</div>
<div class="w3-container">
	<h3 id="end-keyword">End</h3>
	<p>
		The control keyword <strong>end</strong> ends the current <em>major entry</em> block (not smaller blocks in control statements). Cannot
		be used to end function calls - use <em>return</em> for that.
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "End Example" module_end_example examples/end.tame ]-->
</div>
<div class="w3-container">
	<h3 id="break-keyword">Break</h3>
	<p>
		The <strong>break</strong> keyword ends the current looping block (<strong>while</strong> and <strong>for</strong>).
		This does not "restore" any variable values or states - it just escapes the loop.
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Break Example" module_break_example examples/break.tame ]-->
</div>
<div class="w3-container">
	<h3 id="continue-keyword">Continue</h3>
	<p>
		The <strong>continue</strong> keyword stops the current loop iteration in looping control blocks (<strong>while</strong> and <strong>for</strong>),
		which re-evaluates the conditional, and in <strong>for</strong> loops, also performs the stepping statement first. 
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Continue Example" module_continue_example examples/continue.tame ]-->
</div>


<!-- ==================================== -->
<!-- ====== Other Keywords Section ====== -->
<!-- ==================================== -->
<div id="other-keywords" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#other-keywords"><i class="link-stub fa fa-link"></i></a> 5.8. Other Keywords <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	<p>
		There are a few other keywords that have special use in TAMEScript that don't quite fit into the other categories.
	</p>
</div>
<div class="w3-container">
	<h3 id="world-keyword">World</h3>
	<p>
		While <strong>world</strong> is used to mark the declaration of the world, it is used as the singular main identifier
		to refer to the world as an element in command calls.
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "World Example" module_world_example examples/world.tame ]-->
</div>
<div class="w3-container">
	<h3 id="player-keyword">Player</h3>
	<p>
		While <strong>player</strong> is used to mark the declaration of players, it can be used as an identifier to
		mean "the current player." If there is no current player at the moment it is resolved, a <kbd>FATAL</kbd> error 
		is thrown, so check for it using <a href="command-nocurrentplayer.html">NoCurrentPlayer()</a> if it is a 
		possibility in your module.
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Player Example" module_player_example examples/player.tame ]-->
</div>
<div class="w3-container">
	<h3 id="room-keyword">Room</h3>
	<p>
		While <strong>room</strong> is used to mark the declaration of rooms, it can be used as an identifier to
		mean "the current room." If there is no current room at the moment it is resolved, a <kbd>FATAL</kbd> error 
		is thrown, so check for it using <a href="command-nocurrentroom.html">NoCurrentRoom(...)</a> if it is a 
		possibility in your module. Remember: the current room is a state maintained by the current player.
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Room Example" module_room_example examples/room.tame ]-->
</div>
<div class="w3-container">
	<h3 id="this-keyword">This</h3>
	<p>
		The <strong>this</strong> keyword is a tricky one: it is used to refer to the element belonging to
		the <em>current context</em>. This means that <strong>this</strong> can be several different types,
		but you can count on its type to be the same as the element that contains the block of code that it
		is resolved in (for example, if it is used in an <a href="language-block-on-action.html">onAction()</a>
		block on an <em>object</em>, its type is considered to be <em>object</em>).
	</p>
	<p>
		This is especially important when using <em>inheritance</em> in defining objects. 
		Since <strong>this</strong> means "the element that belongs to the current context," that means that it may 
		not necessarily refer to the element that the code is written on.
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "This Example" module_this_example examples/this.tame ]-->
</div>

<div id="inheritance" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#inheritance"><i class="link-stub fa fa-link"></i></a> 5.9. Inheritance <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	<p>
		Since you can have multiple elements that more than likely have the same types of characteristics
		or behavior with certain actions, it might be useful to define them hierarchically. TAMEScript has a 
		mechanism to define these relationships, called <strong>inheritance</strong>.
	</p>
	<p>
		Elements in TAME (that are not the <strong>world</strong>) can specify a <em>parent</em> element of the same type to 
		inherit the defined blocks and functions from:
	</p>
</div>
<div class="w3-container">
<pre class="tame-example"><code data-language="tamescript">
	object o_car named "car"
	{
		init()
		{
			driven = false;
		}
	
		onAction(a_drive)
		{
			if (driven)
				textln("I already drove it.");
			else
				textln("You drive the car. Wheee!");
			driven = true;
		}

		onAction(a_examine)
		{
			textln("Looks like a car.");
		}

	}

	object o_sedan : o_car named "sedan", "car"
	{
		override onAction(a_examine)
		{
			textln("Looks like a sedan.");
		}
	}
</code></pre>
</div>
<div class="w3-container">
	<p>
		In the above example, the object <kbd>o_sedan</kbd> inherits from <kbd>o_car</kbd>. The object <kbd>o_sedan</kbd>
		is now functionally and structurally equivalent to:
	</p>
</div>
<div class="w3-container">
<pre class="tame-example"><code data-language="tamescript">
	object o_sedan named "sedan", "car"
	{
		/* Inherited stuff starts here */
	
		init()
		{
			driven = false;
		}
	
		onAction(a_drive)
		{
			if (driven)
				textln("I already drove it.");
			else
				textln("You drive the car. Wheee!");
			driven = true;
		}

		/*******************************/
	
		onAction(a_examine)
		{
			textln("Looks like a sedan.");
		}
	}
</code></pre>
</div>
<div class="w3-container" style="margin-top:2em;">
	<p>
		There is no limit to how deep an inheritable hierarchy can go, but it's still best to use identifiers
		and schemes that make sense in order to keep it from being overwhelming. 
	</p>
</div>
<div class="w3-container">
<pre class="tame-example"><code data-language="tamescript">
	object o_allobjects;
	object o_keys : o_allobjects;
	object o_orange_key : o_keys;
	object o_blue_key : o_keys;

	room r_allrooms;
	room r_livingroom : r_allrooms;
	room r_bedroom : r_allrooms;
	room r_master_bedroom : r_bedroom;
</code></pre>
</div>
<div class="w3-container">
	<h3 id="override">Override</h3>
	<p>
		In the previous example, one of the entry blocks was changed in the <em>child</em> object of <kbd>o_car</kbd>.
		In order to denote that it is being replaced, the new function or entry block must be prefixed with the <strong>override</strong>
		keyword.
	</p>
</div>
<div class="w3-container">
<pre class="tame-example"><code data-language="tamescript">
	room r_livingroom
	{
		function examineRoom()
		{
			textln("You are in the living room.");
		}

		onAction(a_lookaround)
		{
			examineRoom();
		}
	
	}
	
	room r_cozylivingroom : r_livingroom
	{
		override function examineRoom()
		{
			textln("You are in the COZY living room.");
		}
	}
</code></pre>
</div>
<div class="w3-container">
	<p>
		<strong>NOTE:</strong> If you attempt to define an existing entry point or function within an element's lineage <em>without</em> 
		using <strong>override</strong>, the TAMEScript compiler will give you an error. 
	</p>
</div>
<div class="w3-container">
	<h3 id="archetype">Archetype</h3>
	<p>
		The keyword <strong>archetype</strong> can be used to create elements that do not hold a context, but instead have
		common functions and entry points among its descendants. <em>Archetypes</em> can also inherit from other elements of the same type. 
		Archetyping is useful when you have multiple elements with similar behavior, with small changes among its children.
	</p>
	<p>
		For example, if you have a set of keys, it might be preferable to create an archetype <em>key</em> that all keys inherit
		from, and the only thing different would be the material or look (since you can check types).
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Archetype Example" module_archetype_key_example examples/archetype-key.tame ]-->
</div>

<div class="w3-container">
	<h3 id="contexts">A Clarification on Contexts</h3>
	<p>
		Note that just because an element can inherit functions and entry blocks from other elements, it does NOT
		inherit context variables or treat context variables as though they are shared in the hierarchy - each element
		(that is NOT an <em>archetype</em>) still has its own context. This means that nothing at <em>runtime</em> is shared,
		<em>only the code that executes.</em>
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "Context Example" module_inheritance_context_example examples/inheritance-context.tame ]-->
</div>


<!--[ set prev_page interpreter.html ]-->
<!--[ set next_page language-elements.html ]-->
<!--[ include fragments/page-nav-footer.html ]-->
