<div class="w3-container" style="margin-top: 2em;">
	<p>
		<strong>TAMEScript</strong> is the language that all TAME modules are written in. Through TAMEScript,
		the world, its elements, the viewpoints, the actions the user can take, and how things interact based
		on user input are all defined.
	</p>
	<p>
		Take, for example, the "small adventure" in the tutorial pages at the beginning of the documentation:
	</p>
</div>
<div class="w3-container">
<!--[ tamescript "A Small Adventure" module_intro_adventure_small adventure-small.tame ]-->
</div>
<div class="w3-container" style="margin-top: 2em;">
	<p>
		The <a href="language-element-module.html">module header</a> is first declared, which describes this module
		using a series of key-value pairs - its title, author, and basic contact information. The header may also
		describe certain behavior-changing characteristics for the module, but this example doesn't declare any.
	</p>
	<p>
		Next, the basic <a href="language-element-action.html">actions</a> are declared. These are the means of interaction
		between the user and the module, declaring the words that are tied to each action, as well as other linguistic 
		constructs to complete commands.
	</p>
	<p>
		Then, a series of other <a href="language-elements.html">elements</a> are declared which define the 
		world and the things in them. Each element is a little different in how they are described or declared,
		but most of them are similar in structure.
	</p>
	<p>
		Each of those elements contain <a href="language-blocks.html">blocks</a>, which are entry points for executing
		logic, and the blocks are made up of <strong>statements</strong> and <a href="language-commands.html">commands</a> that
		manipulate the context and return information.
	</p>
</div>

<div id="tamescript" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#comments"><i class="link-stub fa fa-link"></i></a> 5.1. Comments <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	<em>Comments</em> are skipped by the compiler and are used to elucidate sections of code that may be cryptic, or provide notes 
	for sections of code. Comments can be on a single line, or across multiple lines, but there are different delimiters for each.
<pre><code class="tame-example">
// This is a single-line comment.
/*
	This is a multi
	line comment.
*/
/* You can even write them like this. */

</code></pre>
</div>

<div id="tamescript" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#values"><i class="link-stub fa fa-link"></i></a> 5.2. Values and Expressions <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	
</div>

<div id="tamescript" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#statements"><i class="link-stub fa fa-link"></i></a> 5.3. Statements and Commands <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	
</div>

<div id="tamescript" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#functions"><i class="link-stub fa fa-link"></i></a> 5.4. Functions <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	
</div>

<div id="tamescript" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#control"><i class="link-stub fa fa-link"></i></a> 5.5. Control Statements <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	
</div>

<div id="tamescript" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#blocks"><i class="link-stub fa fa-link"></i></a> 5.6. Blocks <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	
</div>

<div id="tamescript" class="w3-panel w3-light-gray w3-card-2">
	<h2><a href="#elements"><i class="link-stub fa fa-link"></i></a> 5.7. Defining Elements <a class="w3-right" href="#top"><i class="link-stub fa fa-arrow-up"></i></a></h2>
</div>
<div class="w3-container" style="margin-top: 2em;">
	
</div>
