<p>
	DITRANSITIVE action handling is a little tricky - depending on whether or not the action is labelled <em>strict</em>,
	it will try both combinations of "object 1 on-action-with object 2" and "object 2 on-action-with object 1", stopping after it finds a qualifying block.
	Only the first interpreted object is used as the target element (including the "ancestor" and "other" handling blocks) if the action is <em>strict</em>,
	and only the second interpreted object is used as the target element (including the "ancestor" and "other" handling blocks) if the action is <em>strict</em> and <em>reversed</em>.
</p>
<p>
	If a valid <span class="tamedocs-block-type">onActionWith()</span> block for a <strong>ditransitive</strong> action and target 
	<span class="tamedocs-element-type">object</span> is not found, TAME looks for an <span class="tamedocs-block-type">onActionWithAncestor()</span> 
	block to call that matches. If that does not exist, it calls <span class="tamedocs-block-type">onActionWithOther()</span>.
	And if <em>that</em> does not exist, TAME looks for <span class="tamedocs-block-type">onUnhandledAction()</span> blocks to call on the 
	current <span class="tamedocs-element-type">player</span>, if any, and then the <span class="tamedocs-element-type">world</span>.
</p>
<p>
	Then if <em>that</em> is not found, an <kbd>ERROR</kbd> cue is added to the <strong>Response</strong>.
</p>
