<p>
	<strong>Ditransitive</strong> actions are actions that require <em>two</em> objects in order to perform it. The objects need to be <em>accessible</em>
	to the current player (or in the <em>world</em> if no player). Ditransitive actions are treated as normal <strong>transitive</strong> actions if only <em>one</em>
	object is used, though. The words or phrases that separate the two objects are called "conjunctions," and are declared with the action.
<p>
<pre>
	use key with door
	give bottle to hermit
	stab monster with sword
</pre>
<p>
	...where <em>with</em> and <em>to</em> are conjunctions, and <em>key</em>, <em>bottle</em>, <em>sword</em>, <em>hermit</em>, <em>monster</em>, and <em>door</em> are names of objects in the module.
</p>
