<p>
	The way that the user is able to make stuff happen is through <strong>Actions</strong>. Each
	action has a set of names, and there are different types of actions that influence how they get
	interpreted or how a command is expected to be completed.
</p>
<p>
	There are 5 action types: <strong>General</strong>, <strong>Transitive</strong>, <strong>Ditransitive</strong>, 
	<strong>Modal</strong>, and <strong>Open</strong>.
</p>

<div class="w3-panel w3-light-gray w3-card-1">
	<h3>General</h3>
</div>
<div class="w3-container">
	<!--[ include module-action-general.html ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-1">
	<h3>Transitive</h3>
</div>
<div class="w3-container">
	<!--[ include module-action-transitive.html ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-1">
	<h3>Ditransitive</h3>
</div>
<div class="w3-container">
	<!--[ include module-action-ditransitive.html ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-1">
	<h3>Modal</h3>
</div>
<div class="w3-container">
	<!--[ include module-action-modal.html ]-->
</div>

<div class="w3-panel w3-light-gray w3-card-1">
	<h3>Open</h3>
</div>
<div class="w3-container">
	<!--[ include module-action-open.html ]-->
</div>
