<div class="w3-row">
	<div class="w3-col s12 m6">
		<p>
			<strong>Rooms</strong> are little abstractions of environment between which players are moved. 
		</p>
		<p>
			Rooms can contain <strong>objects</strong>. Objects in a <strong>room</strong> are <em>accessible</em> as long as the room is current on 
			the current <strong>player</strong>.
		</p>
		<p>
			Rooms can also restrict what actions can be used in them, much like players.
		</p>
	</div>
	<div class="w3-center w3-col s12 m6">
		<img class="w3-image" src="images/diagram-rooms.svg"/>
	</div>
</div>
