<div class="w3-row">
	<div class="w3-col s12 m6">
		<p>
			The most-used element in a module are <strong>objects</strong>. These can be moved between all of the object containers 
			(<em>world</em>, <em>player</em>, <em>room</em>, <em>container</em>) and is the common element
			that is targeted by actions.
		</p>
		<p>
			Where <em>objects</em> are contained dictate their <em>accessibility</em>, as well as the current player
			or room. The currently <em>accessible</em> objects also affect how user input is interpreted.
		</p>
	</div>
	<div class="w3-center w3-col s12 m6">
		<img class="w3-image" src="images/diagram-objects.svg"/>
	</div>
</div>
