<div class="w3-row">
	<div class="w3-col s12 m6">
		<p>
			Not to be confused with users, the ones typing the input, the <strong>player</strong> is the representation
			of the current viewpoint in the world. The purpose of the player is to define or constrain what is currently visible 
			in terms of actions or objects. 
		</p>
		<p>
			Players can also hold <strong>objects</strong>. The objects held by a player are <em>accessible</em> so long
			as that player is current. Players also handle failed actions and other input errors before they are 
			passed onto the world.
		</p>
		<p>
			Players also can have a current <strong>room</strong>, which further controls what
			the player can both do and interact with. A TAME module is not required to have a player, but without players, you
			cannot set the current room. 
		</p>
	</div>
	<div class="w3-center w3-col s12 m6">
		<img class="w3-image" src="images/diagram-players.svg"/>
	</div>
</div>
