<div class="w3-row">
	<div class="w3-col s12 m6">
		<p>
			<strong>Containers</strong>, much like <strong>rooms</strong> and <strong>players</strong> and the <strong>world</strong>,
			can contain <strong>objects</strong> and variable context. However, nothing in a container is
			<em>accessible</em>.
		</p>
		<p>
			Containers are useful for containing objects that need to be tagged or bulk-moved to other containers,
			or keeping track of other object-like things that could be useful, like objective lists or the like,
			since they can be browsed like any other thing that can contain objects.
		</p>
	</div>
	<div class="w3-center w3-col s12 m6">
		<img class="w3-image" src="images/diagram-containers.svg"/>
	</div>
</div>
