	<p>
		Note that when passing a literal string to this function, the backslash <kbd>\</kbd> character is important
		in RegEx, so any use of it as part of the expression should be escaped: <kbd>\\</kbd>. For this reason, it may be better
		for readability's sake to use <em>raw strings</em>, like in the example above.
	</p>
	<p>
		All RegExes in TAME are considered case-sensitive and match globally (the entirety of the input string used with it is potentially examined).
	</p>
	<p>
		There are several resources on RegEx out there, such as <a target="_blank" href="https://www.regular-expressions.info/">www.regular-expressions.info</a> and
		and a more interactive example at <a target="_blank" href="https://regexr.com/">RegExr.com</a>.
	</p>
