	<p>
		<em>Whitespace</em>, as defined by TAME, is all non-visible characters less than or equal to 
		Unicode 0x0020 (ASCII space), which is the space character plus all ASCII control codes (tabs, line feeds, etc.).
		While some Shells may render these characters with special symbols on output (like in Windows/DOS terminals), this does 
		not mean that they are treated as non-whitespace in the engine.
	</p>
	<p>
		Some implementations may define "whitespace" to include the extended Unicode spacing characters, but this has 
		not been standardized across TAME implementations yet.
	</p>
