	<p>
		If a valid <span class="tamedocs-block-type">onAction()</span> block for a TRANSITIVE action (on a valid <span class="tamedocs-element-type">object</span>) 
		is not found, TAME looks for <span class="tamedocs-block-type">onActionWithAncestor()</span> 
		and <span class="tamedocs-block-type">onActionWithOther()</span> blocks on the current <span class="tamedocs-element-type">room</span>, 
		if any, the current <span class="tamedocs-element-type">player</span>, if any, and then the <span class="tamedocs-element-type">world</span>.
		And if <em>that</em> does not exist, TAME looks for <span class="tamedocs-block-type">onUnhandledAction()</span> blocks to call (on the current <span class="tamedocs-element-type">player</span>, 
		if any, and then the <span class="tamedocs-element-type">world</span>).
	</p>
