<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="StyleSheet" type="text/css" href="css/w3.css" />
		<link rel="StyleSheet" type="text/css" href="css/style.css" />
		<link rel="StyleSheet" type="text/css" href="css/font-awesome.min.css">
		<link rel="StyleSheet" type="text/css" href="css/rainbow.css">
		<title>TAME Documentation - <!--[ print $title ]--></title>
	</head>
	<body>
		<!-- Sidebar -->
		<div class="w3-sidebar w3-bar-block w3-collapse w3-card-2" style="width:320px;" id="tamedocs-sidebar">
			<button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="tamedocsCloseBar()">Close &times;</button>
			<div class="w3-container tame-sidebar">
			<!--[ include sidebar.html ]-->
			</div>
		</div>

		<!-- Main -->
		<div class="w3-main" style="margin-left:320px">
			<div class="w3-container w3-teal" id="top">
				<div id="tamedocs-search" class="w3-right">
					<!--[ include main-search.html ]-->
				</div>
				<div class="w3-left">
					<!-- Header on Large/XLarge -->
					<div class="w3-cell-row w3-hide-medium w3-hide-small">
						<div class="w3-cell w3-cell-bottom w3-hide-medium w3-hide-small w3-padding-16">
							<img class="nav-logo" src="images/tame-logo-white.svg" /> 
							<span style="font-size:200%;white-space:nowrap;"><!--[ print $title ]--></span>
						</div>
					</div>
					<!-- Header on Medium -->
					<div class="w3-cell-row w3-hide-xlarge w3-hide-large w3-hide-small">
						<div class="w3-cell w3-cell-bottom w3-padding-16">
							<div class="w3-left">
								<button class="w3-button w3-teal w3-large" onclick="tamedocsOpenBar()">
									<i class="fa fa-bars fa-3x"></i>
								</button>
							</div>
							<img class="nav-logo" src="images/tame-logo-white.svg" />
							<span style="font-size:200%"><!--[ print $title ]--></span>
						</div>
					</div>
					<!-- Header on Small -->
					<div class="w3-cell-row w3-hide-xlarge w3-hide-large w3-hide-medium">
						<div class="w3-cell w3-cell-bottom w3-padding-16">
							<div class="w3-left">
								<button class="w3-button w3-teal w3-large" onclick="tamedocsOpenBar()">
									<i class="fa fa-bars fa-3x"></i>
								</button>
							</div>
							<img class="nav-logo" src="images/tame-logo-white.svg" />
						</div>
					</div>
				</div>
			</div>
			<div class="w3-container">
				<!-- Header on Small -->
				<div class="w3-hide-xlarge w3-hide-large w3-hide-medium w3-center">
					<h2><strong><!--[ print $title ]--></strong></h2>
				</div>
				
				<!-- Content  -->
				<!--[ include $content_page ]-->

				<!-- Footer  -->
				<!--[ include main-footer.html ]-->
			</div>
			<!-- Search Box -->
			<div id="tame-search-results">
				<ul id="tame-search-result-list">
				</ul>
			</div>
		</div>
		
		<!-- TAME Modal -->
		<!--:NOINDEX:-->
		<div id="tame-modal" class="w3-modal" style="padding-top:50px;">
			<div class="w3-modal-content w3-animate-top w3-card-12">
				<header class="w3-container w3-dark-gray"> 
					<div onclick="tameHideModal()" class="w3-button w3-large w3-display-topright">&times;</div>
					<h3 id="tame-title">Modal Header</h3>
				</header>
				<div id="tame-modal-output" class="w3-container w3-black">
					<pre id="tame-output" class="w3-black"></pre>
				</div>
				<footer class="w3-dark-gray">
					<div id="tame-modal-input" class="w3-border-top w3-border-color-dark-gray">
						<input id="tame-input" type="text" class="w3-input w3-black" />
					</div>
					<div id="tame-modal-continue">
						<span onclick="tameContinue()" class="w3-button w3-green w3-round">Continue</span>
					</div>
				</footer>
			</div>
		</div>

		<!-- JS Libs -->
		<script type="application/javascript" src="js/generated/TAME.js"></script>
		<script type="application/javascript" src="js/tamedocs.js"></script>
		<script type="application/javascript" src="js/tamedocs-tame.js"></script>
		<script type="application/javascript" src="js/rainbow-custom.min.js"></script>
		<script type="application/javascript" src="js/rainbow-tamescript.js"></script>
		<script type="application/javascript" src="js/generated/searchindex.js"></script>
		<script type="application/javascript" src="js/generated/missingpages.js"></script>
		<!--:NOINDEX:-->
 		</body>
</html>
