<!--:NOINDEX:-->
<ul class="sidebar-list">
	<li class="section"><a href="index.html">Table of Contents</a>
	</li>
	<li class="section"><a href="intro.html">1. What is TAME?</a>
		<ul>
			<li class="page"><a href="intro.html#tamescript">1.1. What is TAMEScript?</a></li>
			<li class="page"><a href="intro.html#virtualmachine">1.2. What is a &quot;Virtual Machine?&quot;</a></li>
			<li class="page"><a href="intro.html#context">1.3. What is a &quot;Context?&quot;</a></li>
			<li class="page"><a href="intro.html#shell">1.4. What is a &quot;Shell?&quot;</a></li>
		</ul>
	</li>
	<li class="section"><a href="systems.html">2. TAME Systems</a>
		<ul>
			<li class="page"><a href="systems.html#request">2.1. Input and Requests</a></li>
			<li class="page"><a href="systems.html#response">2.2. Response and Cues</a></li>
			<li class="page"><a href="systems.html#diagrams">2.3. Diagrams of Typical TAME Systems</a></li>
		</ul>
	</li>
	<li class="section"><a href="module.html">3. Module Overview</a>
		<ul>
			<li class="page"><a href="module.html#objects">3.1. Objects</a></li>
			<li class="page"><a href="module.html#world">3.2. World</a></li>
			<li class="page"><a href="module.html#players">3.3. Players</a></li>
			<li class="page"><a href="module.html#rooms">3.4. Rooms</a></li>
			<li class="page"><a href="module.html#containers">3.5. Containers</a></li>
			<li class="page"><a href="module.html#actions">3.6. Actions</a></li>
		</ul>
	</li>
	<li class="section"><a href="interpreter.html">4. The Interpreter</a>
		<ul>
			<li class="page"><a href="interpreter.html#parsing">4.1. How TAME Parses Input</a></li>
			<li class="page"><a href="interpreter.html#greedy">4.2. What is a &quot;Greedy&quot; interpreter?</a></li>
			<li class="page"><a href="interpreter.html#command">4.3. How an Action gets Processed</a></li>
			<li class="page"><a href="interpreter.html#fail">4.4. When the Interpreter Fails Parsing</a></li>
		</ul>
	</li>
	<li class="section"><a href="tamescript.html">5. TAMEScript</a>
		<ul>
			<li class="page"><a href="tamescript.html#comments">5.1. Comments</a></li>
			<li class="page"><a href="tamescript.html#values">5.2. Values and Expressions</a>
				<ul>
					<li class="page"><a href="tamescript.html#identifiers">5.2.1. Identifiers</a></li>
					<li class="page"><a href="tamescript.html#expressions">5.2.2. Expressions</a></li>
				</ul>
			</li>
			<li class="page"><a href="tamescript.html#statements">5.3. Statements and Commands</a></li>
			<li class="page"><a href="tamescript.html#lists">5.4. Lists</a>
				<ul>
					<li class="page"><a href="tamescript.html#references">5.4.1 References</a>
				</ul>
			</li>
			<li class="page"><a href="tamescript.html#blocks">5.5. Blocks</a></li>
			<li class="page"><a href="tamescript.html#functions">5.6. Functions</a></li>
			<li class="page"><a href="tamescript.html#control">5.7. Control Statements</a>
				<ul>
					<li class="page"><a href="tamescript.html#if-else">5.7.1. If / Else</a>
					<li class="page"><a href="tamescript.html#while-loop">5.7.2. While Loops</a>
					<li class="page"><a href="tamescript.html#for-loop">5.7.3. For Loops</a>
					<li class="page"><a href="tamescript.html#quit-keyword">5.7.4. Quit</a>
					<li class="page"><a href="tamescript.html#queue-keyword">5.7.5. Queue</a>
					<li class="page"><a href="tamescript.html#finish-keyword">5.7.6. Finish</a>
					<li class="page"><a href="tamescript.html#end-keyword">5.7.7. End</a>
					<li class="page"><a href="tamescript.html#break-keyword">5.7.8. Break</a>
					<li class="page"><a href="tamescript.html#continue-keyword">5.7.9. Continue</a>
				</ul>
			</li>
			<li class="page"><a href="tamescript.html#other-keywords">5.8. Other Keywords</a>
				<ul>
					<li class="page"><a href="tamescript.html#world-keyword">5.8.1. world</a>
					<li class="page"><a href="tamescript.html#player-keyword">5.8.2. player</a>
					<li class="page"><a href="tamescript.html#room-keyword">5.8.3. room</a>
					<li class="page"><a href="tamescript.html#this-keyword">5.8.4. this</a>
				</ul>
			</li>
			<li class="page"><a href="tamescript.html#inheritance">5.9. Inheritance</a>
				<ul>
					<li class="page"><a href="tamescript.html#override">5.9.1. override</a></li>
					<li class="page"><a href="tamescript.html#archetype">5.9.2. archetype</a></li>
				</ul>
			</li>
			<li class="page"><a href="tamescript.html#preprocessor">5.10. The Preprocessor</a>
				<ul>
					<li class="page"><a href="tamescript.html#prep-include">5.10.1. #include</a></li>
					<li class="page"><a href="tamescript.html#prep-define">5.10.2. #define</a></li>
					<li class="page"><a href="tamescript.html#prep-undefine">5.10.3. #undefine</a></li>
					<li class="page"><a href="tamescript.html#prep-ifdef">5.10.4. #ifdef</a></li>
					<li class="page"><a href="tamescript.html#prep-ifndef">5.10.5. #ifndef</a></li>
					<li class="page"><a href="tamescript.html#prep-endif">5.10.6. #endif</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="section"><a href="language-elements.html">6. TAMEScript Elements</a>
		<ul>
			<li class="page"><a href="language-element-module.html">6.1. module</a></li>
			<li class="page"><a href="language-element-action.html">6.2. action</a>
				<ul>
					<li class="page"><a href="language-element-action-general.html">6.2.1. General</a></li>
					<li class="page"><a href="language-element-action-transitive.html">6.2.2. Transitive</a></li>
					<li class="page"><a href="language-element-action-ditransitive.html">6.2.3. Ditransitive</a></li>
					<li class="page"><a href="language-element-action-modal.html">6.2.4. Modal</a></li>
					<li class="page"><a href="language-element-action-open.html">6.2.5. Open</a></li>
				</ul>
			</li>
			<li class="page"><a href="language-element-world.html">6.3. world</a></li>
			<li class="page"><a href="language-element-object.html">6.4. object</a></li>
			<li class="page"><a href="language-element-player.html">6.5. player</a></li>
			<li class="page"><a href="language-element-room.html">6.6. room</a></li>
			<li class="page"><a href="language-element-container.html">6.7. container</a></li>
		</ul>
	</li>
	<li class="section"><a href="language-blocks.html">A. TAMEScript Module Blocks</a>
		<ul>
			<li class="page"><a href="language-block-init.html">A.1. Init</a></li>
			<li class="page"><a href="language-block-start.html">A.2. Start</a></li>
			<li class="page"><a href="language-block-on-action.html">A.3. OnAction</a></li>
			<li class="page"><a href="language-block-on-action-with.html">A.4. OnActionWith</a></li>
			<li class="page"><a href="language-block-on-action-with-ancestor.html">A.5. OnActionWithAncestor</a></li>
			<li class="page"><a href="language-block-on-action-with-other.html">A.6. OnActionWithOther</a></li>
			<li class="page"><a href="language-block-on-modal-action.html">A.7. OnModalAction</a></li>
			<li class="page"><a href="language-block-on-unhandled-action.html">A.8. OnUnhandledAction</a></li>
			<li class="page"><a href="language-block-on-element-browse.html">A.9. OnElementBrowse</a></li>
			<li class="page"><a href="language-block-on-world-browse.html">A.10. OnWorldBrowse</a></li>
			<li class="page"><a href="language-block-on-room-browse.html">A.11. OnRoomBrowse</a></li>
			<li class="page"><a href="language-block-on-player-browse.html">A.12. OnPlayerBrowse</a></li>
			<li class="page"><a href="language-block-on-container-browse.html">A.13. OnContainerBrowse</a></li>
			<li class="page"><a href="language-block-on-unknown-command.html">A.14. OnUnknownCommand</a></li>
			<li class="page"><a href="language-block-on-malformed-command.html">A.15. OnMalformedCommand</a></li>
			<li class="page"><a href="language-block-on-incomplete-command.html">A.16. OnIncompleteCommand</a></li>
			<li class="page"><a href="language-block-on-ambiguous-command.html">A.17. OnAmbiguousCommand</a></li>
			<li class="page"><a href="language-block-after-successful-command.html">A.18. AfterSuccessfulCommand</a></li>
			<li class="page"><a href="language-block-after-failed-command.html">A.19. AfterFailedCommand</a></li>
			<li class="page"><a href="language-block-after-every-command.html">A.20. AfterEveryCommand</a></li>
		</ul>
	</li>
	<li class="section"><a href="operators.html">B. TAMEScript Operators</a>
		<ul>
			<li class="group">Unary
				<ul>
					<li class="page"><a href="operators-negate.html">Negate</a></li>
					<li class="page"><a href="operators-logicalnot.html">Logical Not</a></li>
					<li class="page"><a href="operators-absolute.html">Absolute</a></li>
				</ul>
			</li>
			<li class="group">Binary
				<ul>
					<li class="page"><a href="operators-addition.html">Addition</a></li>
					<li class="page"><a href="operators-subtraction.html">Subtraction</a></li>
					<li class="page"><a href="operators-multiplication.html">Multiplication</a></li>
					<li class="page"><a href="operators-division.html">Division</a></li>
					<li class="page"><a href="operators-modulo.html">Modulo</a></li>
					<li class="page"><a href="operators-power.html">Power</a></li>
					<li class="page"><a href="operators-and.html">And</a></li>
					<li class="page"><a href="operators-or.html">Or</a></li>
					<li class="page"><a href="operators-xor.html">XOr</a></li>
					<li class="page"><a href="operators-equals.html">Equals</a></li>
					<li class="page"><a href="operators-notequals.html">Not Equals</a></li>
					<li class="page"><a href="operators-strictequals.html">Strictly Equals</a></li>
					<li class="page"><a href="operators-strictnotequals.html">Strictly Not Equals</a></li>
					<li class="page"><a href="operators-less.html">Less Than</a></li>
					<li class="page"><a href="operators-lessequal.html">Less or Equal</a></li>
					<li class="page"><a href="operators-greater.html">Greater Than</a></li>
					<li class="page"><a href="operators-greaterequal.html">Greater or Equal</a></li>
				</ul>
			</li>
			<li class="group">Binary, Logical
				<ul>
					<li class="page"><a href="operators-ssand.html">Short-circuit And</a></li>
					<li class="page"><a href="operators-ssor.html">Short-circuit Or</a></li>
				</ul>
			</li>
			<li class="group">Ternary
				<ul>
					<li class="page"><a href="operators-ternary.html">Ternary Operator</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="section"><a href="language-functions.html">C. TAMEScript Built-In Functions</a>
		<ul>
			<li class="group">Cues
				<ul>
					<li class="page"><a href="function-addcue.html">AddCue</a></li>
					<li class="page"><a href="function-text.html">Text</a></li>
					<li class="page"><a href="function-textln.html">Textln</a></li>
					<li class="page"><a href="function-textf.html">Textf</a></li>
					<li class="page"><a href="function-textfln.html">Textfln</a></li>
					<li class="page"><a href="function-pause.html">Pause</a></li>
					<li class="page"><a href="function-wait.html">Wait</a></li>
				</ul>
			</li>
			<li class="group">Values
				<ul>
					<li class="page"><a href="function-asboolean.html">AsBoolean</a></li>
					<li class="page"><a href="function-asint.html">AsInt</a></li>
					<li class="page"><a href="function-asfloat.html">AsFloat</a></li>
					<li class="page"><a href="function-asstring.html">AsString</a></li>
					<li class="page"><a href="function-aslist.html">AsList</a></li>
					<li class="page"><a href="function-length.html">Length</a></li>
					<li class="page"><a href="function-empty.html">Empty</a></li>
				</ul>
			</li>
			<li class="group">String Operations
				<ul>
					<li class="page"><a href="function-strindex.html">StrIndex</a></li>
					<li class="page"><a href="function-strlastindex.html">StrLastIndex</a></li>
					<li class="page"><a href="function-strcontains.html">StrContains</a></li>
					<li class="page"><a href="function-strstartswith.html">StrStartsWith</a></li>
					<li class="page"><a href="function-strendswith.html">StrEndsWith</a></li>
					<li class="page"><a href="function-strreplace.html">StrReplace</a></li>
					<li class="page"><a href="function-strreplacelast.html">StrReplaceLast</a></li>
					<li class="page"><a href="function-strreplaceall.html">StrReplaceAll</a></li>
					<li class="page"><a href="function-strconcat.html">StrConcat</a></li>
					<li class="page"><a href="function-substring.html">SubString</a></li>
					<li class="page"><a href="function-strlower.html">StrLower</a></li>
					<li class="page"><a href="function-strupper.html">StrUpper</a></li>
					<li class="page"><a href="function-strchar.html">StrChar</a></li>
					<li class="page"><a href="function-strtrim.html">StrTrim</a></li>
					<li class="page"><a href="function-strsplit.html">StrSplit</a></li>
					<li class="page"><a href="function-strjoin.html">StrJoin</a></li>
					<li class="page"><a href="function-strformat.html">StrFormat</a></li>
				</ul>
			</li>
			<li class="group">RegEx
				<ul>
					<li class="page"><a href="function-isregex.html">IsRegex</a></li>
					<li class="page"><a href="function-regexcontains.html">RegexContains</a></li>
					<li class="page"><a href="function-regexfind.html">RegexFind</a></li>
					<li class="page"><a href="function-regexfindlast.html">RegexFindLast</a></li>
					<li class="page"><a href="function-regexget.html">RegexGet</a></li>
					<li class="page"><a href="function-regexgetlast.html">RegexGetLast</a></li>
					<li class="page"><a href="function-regexgetall.html">RegexGetAll</a></li>
					<li class="page"><a href="function-regexmatches.html">RegexMatches</a></li>
					<li class="page"><a href="function-regexsplit.html">RegexSplit</a></li>
				</ul>
			</li>
			<li class="group">List Operations
				<ul>
					<li class="page"><a href="function-listnew.html">ListNew</a></li>
					<li class="page"><a href="function-listadd.html">ListAdd</a></li>
					<li class="page"><a href="function-listaddat.html">ListAddAt</a></li>
					<li class="page"><a href="function-listremove.html">ListRemove</a></li>
					<li class="page"><a href="function-listremoveat.html">ListRemoveAt</a></li>
					<li class="page"><a href="function-listindex.html">ListIndex</a></li>
					<li class="page"><a href="function-listcontains.html">ListContains</a></li>
					<li class="page"><a href="function-listconcat.html">ListConcat</a></li>
				</ul>
			</li>
			<li class="group">Mathematics
				<ul>
					<li class="page"><a href="function-floor.html">Floor</a></li>
					<li class="page"><a href="function-ceiling.html">Ceiling</a></li>
					<li class="page"><a href="function-round.html">Round</a></li>
					<li class="page"><a href="function-fix.html">Fix</a></li>
					<li class="page"><a href="function-sqrt.html">SQRT</a></li>
					<li class="page"><a href="function-pi.html">PI</a></li>
					<li class="page"><a href="function-e.html">E</a></li>
					<li class="page"><a href="function-sin.html">SIN</a></li>
					<li class="page"><a href="function-cos.html">COS</a></li>
					<li class="page"><a href="function-tan.html">TAN</a></li>
					<li class="page"><a href="function-min.html">Min</a></li>
					<li class="page"><a href="function-max.html">Max</a></li>
					<li class="page"><a href="function-clamp.html">Clamp</a></li>
					<li class="page"><a href="function-irandom.html">IRandom</a></li>
					<li class="page"><a href="function-frandom.html">FRandom</a></li>
					<li class="page"><a href="function-grandom.html">GRandom</a></li>
				</ul>
			</li>
			<li class="group">Time
				<ul>
					<li class="page"><a href="function-time.html">Time</a></li>
					<li class="page"><a href="function-timeformat.html">TimeFormat</a></li>
				</ul>
			</li>
			<li class="group">Elements
				<ul>
					<li class="page"><a href="function-objecthasname.html">ObjectHasName</a></li>
					<li class="page"><a href="function-addobjectname.html">AddObjectName</a></li>
					<li class="page"><a href="function-removeobjectname.html">RemoveObjectName</a></li>
					<li class="page"><a href="function-objecthastag.html">ObjectHasTag</a></li>
					<li class="page"><a href="function-addobjecttag.html">AddObjectTag</a></li>
					<li class="page"><a href="function-addobjecttagtoallin.html">AddObjectTagToAllIn</a></li>
					<li class="page"><a href="function-removeobjecttag.html">RemoveObjectTag</a></li>
					<li class="page"><a href="function-removeobjecttagfromallin.html">RemoveObjectTagFromAllIn</a></li>
					<li class="page"><a href="function-giveobject.html">GiveObject</a></li>
					<li class="page"><a href="function-removeobject.html">RemoveObject</a></li>
					<li class="page"><a href="function-hasobject.html">HasObject</a></li>
					<li class="page"><a href="function-moveobjectswithtag.html">MoveObjectsWithTag</a></li>
					<li class="page"><a href="function-objecthasnoowner.html">ObjectHasNoOwner</a></li>
					<li class="page"><a href="function-objectcount.html">ObjectCount</a></li>
					<li class="page"><a href="function-browse.html">Browse</a></li>
					<li class="page"><a href="function-browsetagged.html">BrowseTagged</a></li>
					<li class="page"><a href="function-setplayer.html">SetPlayer</a></li>
					<li class="page"><a href="function-currentplayeris.html">CurrentPlayerIs</a></li>
					<li class="page"><a href="function-nocurrentplayer.html">NoCurrentPlayer</a></li>
					<li class="page"><a href="function-setroom.html">SetRoom</a></li>
					<li class="page"><a href="function-pushroom.html">PushRoom</a></li>
					<li class="page"><a href="function-poproom.html">PopRoom</a></li>
					<li class="page"><a href="function-swaproom.html">SwapRoom</a></li>
					<li class="page"><a href="function-playerisinroom.html">PlayerIsInRoom</a></li>
					<li class="page"><a href="function-currentroomis.html">CurrentRoomIs</a></li>
					<li class="page"><a href="function-nocurrentroom.html">NoCurrentRoom</a></li>
					<li class="page"><a href="function-playercanaccessobject.html">PlayerCanAccessObject</a></li>
					<li class="page"><a href="function-elementhasancestor.html">ElementHasAncestor</a></li>
				</ul>
			</li>
			<li class="group">Miscellaneous
				<ul>
					<li class="page"><a href="function-noop.html">NoOp</a></li>
					<li class="page"><a href="function-identity.html">Identity</a></li>
					<li class="page"><a href="function-header.html">Header</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="section"><a href="diagrams.html">D. TAME Execution Flow</a>
		<ul>
			<li class="page"><a href="diagrams.html#initialize">D.1. Initialize</a></li>
			<li class="page"><a href="diagrams.html#interpret">D.2. Interpret</a></li>
			<li class="page"><a href="diagrams.html#command-loop">D.3. Command Loop</a></li>
			<li class="page"><a href="diagrams.html#process-command">D.4. Process Command</a></li>
			<li class="page"><a href="diagrams.html#general-action">D.5. General Action</a></li>
			<li class="page"><a href="diagrams.html#open-action">D.6. Open Action</a></li>
			<li class="page"><a href="diagrams.html#modal-action">D.7. Modal Action</a></li>
			<li class="page"><a href="diagrams.html#transitive-action">D.8. Transitive Action</a></li>
			<li class="page"><a href="diagrams.html#ditransitive-action">D.9. Ditransitive Action</a></li>
			<li class="page"><a href="diagrams.html#successful-parse">D.10. Successful Parse</a></li>
			<li class="page"><a href="diagrams.html#failed-parse">D.11. Failed Parse</a></li>
			<li class="page"><a href="diagrams.html#unknown-command">D.12. Unknown Command</a></li>
			<li class="page"><a href="diagrams.html#malformed-command">D.13. Malformed Command</a></li>
			<li class="page"><a href="diagrams.html#incomplete-command">D.14. Incomplete Command</a></li>
			<li class="page"><a href="diagrams.html#ambiguous-command">D.15. Ambiguous Command</a></li>
			<li class="page"><a href="diagrams.html#unhandled-action">D.16. Unhandled Action</a></li>
		</ul>
	</li>
	<li class="section"><a href="advanced.html">E. Advanced TAME</a>
		<ul>
			<li class="page"><a href="advanced.html#optimization">E.1. Optimization</a></li>
		</ul>
	</li>	
</ul>
<!--:NOINDEX:-->
